:root
{--color-primary-text:#333
    ;--color-secondary-text:#999;
    --color-white:#fff;
    --color-lighter-gray:#f6f6f6;
    --color-light-gray:#e6e6e6;
    --color-mid-gray:#ccc;
    --color-dark-gray:#444;
    --color-darker-gray:
    #15171a;
    --color-black:#000;
    --font-sans:-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif;
    --font-serif:Georgia,serif;
    --font-mono:Menlo,Consolas,Monaco,Liberation Mono,Lucida Console,monospace;
    --head-nav-gap:2.8rem;
    --h1-size:4.6rem;
    --gap:3.6rem}@media (max-width:767px)
    
    {:root{--h1-size:3.2rem!important;
        --gap:2rem}}*,:after,:before{box-sizing:border-box}blockquote,body,dd,dl,figure,h1,h2,h3,h4,h5,h6,p{margin:0}ol[role=list],ul[role=list]{list-style:none}html:focus-within{scroll-behavior:smooth}body{line-height:1.5;min-height:100vh;text-rendering:optimizespeed}a:not([class]){-webkit-text-decoration-skip:ink;text-decoration-skip-ink:auto}img,picture{display:block;max-width:100%}button,input,select,textarea{font:inherit}@media (prefers-reduced-motion:reduce){html:focus-within{scroll-behavior:auto}*,:after,:before{animation-duration:.01ms!important;animation-iteration-count:1!important;scroll-behavior:auto!important;transition-duration:.01ms!important}}html{font-size:62.5%}body{-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;background-color:var(--color-white);color:var(--color-primary-text);font-family:var(--font-sans);font-size:1.6rem;line-height:1.6}img{height:auto}a{color:var(--color-darker-gray);text-decoration:none}a:hover{opacity:.8}h1,h2,h3,h4,h5,h6{color:var(--color-darker-gray);letter-spacing:-.02em;line-height:1.15}h1{font-size:var(--h1-size)}h2{font-size:2.8rem}h3{font-size:2.4rem}h4{font-size:2.2rem}h5{font-size:2rem}h6{font-size:1.8rem}hr{background-color:var(--color-light-gray);border:0;height:1px;width:100%}blockquote:not([class]){border-left:4px solid var(--ghost-accent-color);padding-left:2rem}figcaption{color:var(--color-secondary-text);font-size:1.4rem;line-height:1.4;margin-top:1.6rem;text-align:center}.kg-width-full figcaption{padding:0 1.6rem}.gh-content figcaption a{color:var(--color-darker-gray);text-decoration:none}pre{-webkit-overflow-scrolling:touch;background-color:var(--color-lighter-gray);-webkit-hyphens:none;hyphens:none;line-height:1.5;overflow-x:scroll;padding:1.6rem 2.4rem;white-space:pre}code{font-family:var(--font-mono);font-size:15px}:not(pre)>code{background-color:var(--color-lighter-gray);border-radius:3px;color:var(--ghost-accent-color);padding:.4rem}iframe{border:0;display:block;overflow:hidden;width:100%}@media (max-width:767px){h2{font-size:2.4rem}h3{font-size:2.1rem}}.gh-site{display:flex;flex-direction:column;min-height:100vh}.gh-main{flex-grow:1;padding-bottom:8rem;padding-top:8rem}.gh-outer{padding-left:var(--gap);padding-right:var(--gap)}.gh-inner{margin:0 auto;max-width:var(--container-width,1200px)}.gh-canvas{display:grid;grid-template-columns:[full-start] minmax(var(--gap),auto) [wide-start] minmax(auto,calc((var(--container-width, 1200px) - var(--content-width, 720px))/2)) [main-start] min(var(--content-width,720px),calc(100% - var(--gap)*2)) [main-end] minmax(auto,calc((var(--container-width, 1200px) - var(--content-width, 720px))/2)) [wide-end] minmax(var(--gap),auto) [full-end]}.gh-canvas>*{grid-column:main-start/main-end}.kg-width-wide{grid-column:wide-start/wide-end}.kg-width-full{grid-column:full-start/full-end}.kg-width-full img{width:100%}@media (max-width:767px){#gh-main{padding-bottom:4.8rem;padding-top:4.8rem}}.gh-head{background-color:var(--color-white);height:100px}.gh-head-inner{align-items:center;-moz-column-gap:var(--head-nav-gap);column-gap:var(--head-nav-gap);display:grid;grid-auto-flow:row dense;grid-template-columns:1fr auto auto;height:100%}.gh-head-brand{line-height:1}.gh-head-brand-wrapper{align-items:center;display:flex}.gh-head-logo{font-size:2.4rem;font-weight:700;letter-spacing:-.02em;position:relative;white-space:nowrap}.gh-head-logo img{max-height:40px}.gh-head-logo img:nth-child(2){left:0;opacity:0;position:absolute;top:0}.gh-head-menu{display:flex}.gh-head .nav,.gh-head-menu{align-items:center;gap:var(--head-nav-gap)}.gh-head .nav{display:inline-flex;list-style:none;margin:0;padding:0;white-space:nowrap}.gh-head .nav-more-toggle{font-size:inherit;margin:0 -6px;position:relative;text-transform:inherit}.gh-head .nav-more-toggle svg{height:24px;width:24px}.gh-head-actions{align-items:center;display:flex;gap:var(--head-nav-gap);justify-content:flex-end}.gh-head-members{align-items:center;display:flex;gap:20px;white-space:nowrap}.gh-head-btn.gh-btn{font-size:inherit;font-weight:600}.gh-head-btn:not(.gh-btn){align-items:center;color:var(--ghost-accent-color);display:inline-flex}.gh-head-btn svg{height:1.3em;width:1.3em}.gh-search{margin-left:-6px;margin-right:-6px}.gh-search:hover{opacity:.9}.gh-head-brand .gh-search{margin-right:8px}@media (max-width:767px){.gh-head-members{flex-direction:column-reverse;gap:16px;width:100%}.gh-head-actions .gh-search{display:none}}@media (min-width:768px){.gh-head-brand .gh-search{display:none}body:not(.is-dropdown-loaded) .gh-head-menu .nav>li{opacity:0}}.is-head-left-logo .gh-head-inner{grid-template-columns:auto 1fr auto}@media (min-width:992px){.is-head-left-logo .gh-head-menu{margin-left:16px;margin-right:64px}}.is-head-middle-logo .gh-head-inner{grid-template-columns:1fr auto 1fr}.is-head-middle-logo .gh-head-brand{grid-column-start:2}.is-head-middle-logo .gh-head-actions{gap:28px}@media (min-width:992px){.is-head-middle-logo .gh-head-menu{margin-right:64px}}.is-head-stacked .gh-head{height:auto}.is-head-stacked .gh-head-inner{grid-template-columns:1fr auto 1fr}.is-head-stacked .gh-head-brand{display:flex;grid-column-start:2;grid-row-start:1;min-height:80px}@media (min-width:992px){.is-head-stacked .gh-head-inner{padding:0}.is-head-stacked .gh-head-brand{align-items:center;display:flex;height:80px}.is-head-stacked .gh-head-menu{grid-column:1/4;grid-row-start:2;height:56px;justify-content:center;margin:0 48px}.is-head-stacked .gh-head-menu:after,.is-head-stacked .gh-head-menu:before{background-color:var(--color-light-gray);content:"";height:1px;left:0;position:absolute;top:80px;width:100%}.is-head-stacked .gh-head-menu:after{top:136px}.is-head-stacked .gh-head-actions{grid-column:1/4;grid-row-start:1;justify-content:space-between}}.is-head-transparent .gh-head{background-color:transparent;left:0;position:absolute;right:0;z-index:90}.is-head-transparent .gh-head .nav>li a,.is-head-transparent .gh-head-description,.is-head-transparent .gh-head-link,.is-head-transparent .gh-head-logo,.is-head-transparent .gh-search,.is-head-transparent .gh-social,.is-head-transparent .nav-more-toggle{color:var(--color-white)}.is-head-transparent .gh-burger:after,.is-head-transparent .gh-burger:before{background-color:var(--color-white)}.is-head-transparent .gh-head-btn{background-color:#fff;color:#15171a}.is-head-transparent .gh-head-menu:after,.is-head-transparent .gh-head-menu:before{background-color:hsla(0,0%,100%,.2)}.is-head-dark:not(.is-head-transparent) .gh-head{background-color:var(--color-darker-gray)}.is-head-dark:not(.is-head-transparent) .gh-head .nav a,.is-head-dark:not(.is-head-transparent) .gh-head-description,.is-head-dark:not(.is-head-transparent) .gh-head-link,.is-head-dark:not(.is-head-transparent) .gh-head-logo,.is-head-dark:not(.is-head-transparent) .gh-search,.is-head-dark:not(.is-head-transparent) .gh-social,.is-head-dark:not(.is-head-transparent) .nav-more-toggle{color:var(--color-white)}.is-head-dark:not(.is-head-transparent) .gh-burger:after,.is-head-dark:not(.is-head-transparent) .gh-burger:before{background-color:var(--color-white)}.is-head-dark:not(.is-head-transparent) .gh-head-btn{background-color:#fff;color:#15171a}.is-head-dark:not(.is-head-transparent) .gh-head-menu:after,.is-head-dark:not(.is-head-transparent) .gh-head-menu:before{background-color:hsla(0,0%,100%,.2)}.is-head-brand:not(.is-head-transparent) .gh-head{background-color:var(--ghost-accent-color)}.is-head-brand:not(.is-head-transparent) .gh-head .nav a,.is-head-brand:not(.is-head-transparent) .gh-head-description,.is-head-brand:not(.is-head-transparent) .gh-head-link,.is-head-brand:not(.is-head-transparent) .gh-head-logo,.is-head-brand:not(.is-head-transparent) .gh-search,.is-head-brand:not(.is-head-transparent) .gh-social,.is-head-brand:not(.is-head-transparent) .nav-more-toggle{color:var(--color-white)}.is-head-brand:not(.is-head-transparent) .gh-burger:after,.is-head-brand:not(.is-head-transparent) .gh-burger:before{background-color:var(--color-white)}.is-head-brand:not(.is-head-transparent) .gh-head-btn{background-color:#fff;color:#15171a}.is-head-brand:not(.is-head-transparent) .gh-head-menu:after,.is-head-brand:not(.is-head-transparent) .gh-head-menu:before{background-color:hsla(0,0%,100%,.3)}.gh-dropdown{background-color:#fff;border-radius:5px;box-shadow:0 0 0 1px rgba(0,0,0,.04),0 7px 20px -5px rgba(0,0,0,.15);margin-top:24px;opacity:0;padding:12px 0;position:absolute;right:-16px;text-align:left;top:100%;transform:translate3d(0,6px,0);transition:opacity .3s,transform .2s;visibility:hidden;width:200px;z-index:90}.is-head-middle-logo .gh-dropdown{left:-24px;right:auto}.is-dropdown-mega .gh-dropdown{-moz-column-gap:40px;column-gap:40px;display:grid;grid-auto-flow:column;grid-template-columns:1fr 1fr;padding:20px 32px;width:auto}.is-dropdown-open .gh-dropdown{opacity:1;transform:translateY(0);visibility:visible}.gh-dropdown li a{color:#15171a!important;display:block;padding:6px 20px}.is-dropdown-mega .gh-dropdown li a{padding:8px 0}.gh-burger{-webkit-appearance:none;-moz-appearance:none;appearance:none;background-color:transparent;border:0;cursor:pointer;display:none;height:30px;margin-right:-3px;padding:0;position:relative;width:30px}.gh-burger:after,.gh-burger:before{background-color:var(--color-darker-gray);content:"";height:1px;left:3px;position:absolute;transition:all .2s cubic-bezier(.04,.04,.12,.96) .1008s;width:24px}.gh-burger:before{top:11px}.gh-burger:after{bottom:11px}.is-head-open .gh-burger:before{top:15px;transform:rotate(45deg)}.is-head-open .gh-burger:after{bottom:14px;transform:rotate(-45deg)}@media (max-width:767px){#gh-head{height:64px}#gh-head .gh-head-inner{gap:48px;grid-template-columns:1fr;grid-template-rows:auto 1fr auto}#gh-head .gh-head-brand{align-items:center;display:grid;grid-column-start:1;grid-template-columns:1fr auto auto;height:64px}#gh-head .gh-head-logo{font-size:2.2rem}.gh-burger{display:block}#gh-head .gh-head-actions,#gh-head .gh-head-menu{justify-content:center;opacity:0;position:fixed;visibility:hidden}#gh-head .gh-head-menu{transform:translateY(0);transition:none}#gh-head .nav{align-items:center;gap:20px;line-height:1.4}#gh-head .nav a{font-size:2.6rem;font-weight:600;text-transform:none}#gh-head .nav li{opacity:0;transform:translateY(-4px)}#gh-head .gh-head-actions{text-align:center}#gh-head :is(.gh-head-btn,.gh-head-link){opacity:0;transform:translateY(8px)}#gh-head .gh-head-btn{font-size:1.8rem;text-transform:none;width:100%}#gh-head .gh-head-btn:not(.gh-btn){font-size:2rem}#gh-main{transition:opacity .4s}.is-head-open #gh-head{-webkit-overflow-scrolling:touch;height:100%;inset:0;overflow-y:scroll;position:fixed;z-index:3999999}.is-head-open:not(.is-head-brand):not(.is-head-dark):not(.is-head-transparent) #gh-head{background-color:var(--color-white)}.is-head-open.is-head-transparent #gh-head,.is-head-open:is(.is-head-transparent,.is-head-brand) #gh-head .gh-head-actions{background-color:var(--ghost-accent-color)}.is-head-open.is-head-dark #gh-head,.is-head-open.is-head-dark #gh-head .gh-head-actions{background-color:var(--color-darker-gray)}.is-head-open #gh-head .gh-head-actions,.is-head-open #gh-head .gh-head-menu{opacity:1;position:static;visibility:visible}.is-head-open #gh-head .nav{display:flex;flex-direction:column}.is-head-open #gh-head .nav li{opacity:1;transform:translateY(0);transition:transform .2s,opacity .2s}.is-head-open #gh-head .gh-head-actions{align-items:center;background-color:var(--color-white);bottom:0;display:inline-flex;flex-direction:column;gap:12px;left:0;padding:var(--gap) 0 calc(var(--gap) + 8px);position:sticky;right:0}.is-head-open #gh-head :is(.gh-head-btn,.gh-head-link){opacity:1;transform:translateY(0);transition:transform .4s,opacity .4s;transition-delay:.2s}.is-head-open #gh-head .gh-head-link{transition-delay:.4s}.is-head-open #gh-main{opacity:0}}.gh-cover{min-height:var(--cover-height,50vh);padding-bottom:6.4rem;padding-top:6.4rem;position:relative}.gh-cover-image{height:100%;inset:0;-o-object-fit:cover;object-fit:cover;position:absolute;width:100%;z-index:-1}.has-serif-body .gh-cover-description,.has-serif-title .gh-cover-title{font-family:var(--font-serif)}.has-serif-title .gh-card-title{font-family:var(--font-serif);letter-spacing:-.01em}.has-serif-body .gh-card-excerpt{font-family:var(--font-serif)}.gh-card{word-break:break-word}.gh-article-tag{color:var(--ghost-accent-color)}.has-serif-title .gh-article-title{font-family:var(--font-serif);letter-spacing:-.01em}.gh-article-excerpt{color:var(--color-secondary-text);font-size:2.1rem;line-height:1.5;margin-top:2rem}.has-serif-body .gh-article-excerpt{font-family:var(--font-serif)}.gh-article-image{grid-column:wide-start/wide-end;margin-top:4rem}.gh-article-image img{width:100%}@media (max-width:767px){.gh-article-excerpt{font-size:1.9rem}.gh-article-image{margin-top:2.4rem}}.gh-content{font-size:var(--content-font-size,1.8rem);letter-spacing:var(--content-letter-spacing,0);margin-top:4rem}.gh-content>*+*{margin-bottom:0;margin-top:calc(1.6em*var(--content-spacing-multiplier, 1))}.gh-content>[id]{margin:0}.gh-content>.kg-card+[id]{margin-top:calc(2em*var(--content-spacing-multiplier, 1))!important}.has-serif-title .gh-content>[id]{font-family:var(--font-serif);letter-spacing:-.01em}.gh-content>[id]:not(:first-child){margin-top:calc(1.6em*var(--content-spacing-multiplier, 1))}.gh-content>[id]+*{margin-top:calc(.8em*var(--content-spacing-multiplier, 1))}.gh-content>blockquote,.gh-content>hr{position:relative}.gh-content>blockquote,.gh-content>blockquote+*,.gh-content>hr,.gh-content>hr+*{margin-top:calc(2.4em*var(--content-spacing-multiplier, 1))}.gh-content h2{font-size:1.6em}.gh-content h3{font-size:1.4em}.gh-content a{color:var(--ghost-accent-color);text-decoration:underline;word-break:break-word}.gh-content .kg-callout-card .kg-callout-text,.gh-content .kg-toggle-card .kg-toggle-content>ol,.gh-content .kg-toggle-card .kg-toggle-content>p,.gh-content .kg-toggle-card .kg-toggle-content>ul{font-size:.95em}.has-serif-body .gh-content .kg-callout-text,.has-serif-body .gh-content .kg-toggle-content>ol,.has-serif-body .gh-content .kg-toggle-content>p,.has-serif-body .gh-content .kg-toggle-content>ul,.has-serif-body .gh-content>blockquote,.has-serif-body .gh-content>dl,.has-serif-body .gh-content>ol,.has-serif-body .gh-content>p,.has-serif-body .gh-content>ul{font-family:var(--font-serif)}.gh-content dl,.gh-content ol,.gh-content ul{padding-left:2.8rem}.gh-content li+li{margin-top:.8rem}@media (max-width:767px){.gh-content{font-size:1.7rem;margin-top:3.2rem}}.gh-comments{margin-bottom:-24px;margin-top:64px}.gh-comments-header{align-items:center;display:flex;justify-content:space-between;margin-bottom:40px}.gh-comments .gh-comments-title{margin-bottom:28px}.gh-comments-header .gh-comments-title{margin-bottom:0}.gh-comments-count{color:var(--color-secondary-text)}.gh-cta-gradient{background:linear-gradient(180deg,hsla(0,0%,100%,0),var(--color-white));content:"";grid-column:full-start/full-end;height:160px;margin-bottom:4rem;margin-top:-16rem;position:relative}.gh-cta-gradient:first-child{display:none}.gh-cta{display:flex;flex-direction:column;margin-bottom:4rem;text-align:center}.gh-cta-title{font-size:2.2rem;letter-spacing:-.02em;margin-bottom:3.2rem}.gh-cta-actions{align-items:center;display:flex;flex-direction:column}.gh-cta-link{color:var(--color-secondary-text);cursor:pointer;font-size:1.4rem;margin-top:.8rem;text-decoration:none}.gh-cta-link:hover{color:var(--color-darker-gray)}@media (max-width:767px){.gh-cta-actions{-moz-column-gap:.8rem;column-gap:.8rem}}.gh-content .kg-card+:not(.kg-card):not([id]),.gh-content :not(.kg-card):not([id])+.kg-card{margin-top:calc(2em*var(--content-spacing-multiplier, 1))}.kg-image{margin-left:auto;margin-right:auto}.kg-embed-card{align-items:center;display:flex;flex-direction:column;width:100%}.kg-gallery-image,.kg-image[width][height]{cursor:pointer}.kg-gallery-image a:hover,.kg-image-card a:hover{opacity:1!important}.kg-card.kg-toggle-card .kg-toggle-heading-text{font-size:2rem;font-weight:700}.has-serif-title .kg-toggle-card .kg-toggle-heading-text{font-family:var(--font-serif)}.kg-callout-card.kg-card{border-radius:.25em}.kg-callout-card-accent a{text-decoration:underline}blockquote.kg-blockquote-alt{color:var(--color-secondary-text);font-style:normal;font-weight:400}.kg-card.kg-button-card .kg-btn{font-size:1em}.has-serif-body .kg-header-card h3.kg-header-card-subheader,.has-serif-title .kg-card.kg-header-card h2.kg-header-card-header{font-family:var(--font-serif)}.kg-bookmark-card .kg-bookmark-container{border-radius:.25em!important}.kg-bookmark-card .kg-bookmark-content{padding:1.15em}.kg-bookmark-card .kg-bookmark-title{font-size:.9em}.kg-bookmark-card .kg-bookmark-description{font-size:.8em;margin-top:.3em;max-height:none}.kg-bookmark-card .kg-bookmark-metadata{font-size:.8em}.kg-bookmark-card .kg-bookmark-thumbnail img{border-radius:0 .2em .2em 0}.pagination{display:grid;grid-template-columns:1fr auto 1fr;margin-top:6.4rem}.page-number{grid-column-start:2}.older-posts{text-align:right}.gh-navigation{align-items:center;-moz-column-gap:2.4rem;column-gap:2.4rem;display:grid;grid-template-columns:1fr auto 1fr}.gh-navigation>div{align-items:center;display:flex}.gh-navigation-next{justify-content:flex-end}.gh-navigation-link{align-items:center;display:inline-flex}.gh-navigation-link svg{height:16px;width:16px}.gh-navigation-previous svg{margin-right:.4rem}.gh-navigation-next svg{margin-left:.4rem}@media (max-width:767px){.gh-navigation-hide{display:none}}.gh-btn{align-items:center;background-color:var(--color-darker-gray);border:0;border-radius:100px;color:var(--color-white);cursor:pointer;display:inline-flex;font-size:1.6rem;font-weight:700;gap:.4em;justify-content:center;letter-spacing:inherit;line-height:1;padding:calc(.75em*var(--multiplier, 1)) calc(1.15em*var(--multiplier, 1))}.gh-btn:hover{opacity:.95}.gh-post-upgrade-cta .gh-btn{line-height:inherit}.gh-primary-btn{background-color:var(--ghost-accent-color)}.gh-outline-btn{background-color:transparent;border:1px solid var(--color-light-gray);color:var(--color-darker-gray);text-decoration:none}.gh-outline-btn:hover{border-color:var(--color-mid-gray);opacity:1}.gh-icon-btn{align-items:center;background-color:transparent;border:0;color:var(--darker-gray-color);cursor:pointer;display:inline-flex;height:30px;justify-content:center;outline:none;padding:0;width:30px}.gh-icon-btn svg{height:20px;width:20px}.gh-text-btn{align-items:center;background-color:transparent;border:0;color:var(--darker-gray-color);cursor:pointer;display:inline-flex;justify-content:center;letter-spacing:inherit;margin:0;outline:none;padding:0;will-change:opacity}.gh-text-btn:hover{opacity:.8}.gh-foot{color:var(--color-secondary-text);padding-bottom:8rem;padding-top:8rem;white-space:nowrap}.gh-foot-inner{display:grid;font-size:1.3rem;gap:40px;grid-template-columns:1fr auto 1fr}.gh-foot-menu .nav{align-items:center;display:inline-flex;flex-wrap:wrap;justify-content:center;list-style:none;margin:0;padding:0;row-gap:4px}.gh-foot-menu .nav li{align-items:center;display:flex}.gh-foot-menu .nav li+li:before{content:"•";font-size:.9rem;line-height:0;padding:0 1.2rem}.gh-powered-by{text-align:right}.gh-foot a{color:var(--color-secondary-text)}.gh-foot a:hover{color:var(--color-darker-gray);opacity:1}@media (max-width:767px){.gh-foot{padding-bottom:12rem;padding-top:6.4rem}.gh-foot-inner{grid-template-columns:1fr;text-align:center}.gh-foot-menu{margin-top:3.2rem}.gh-foot-menu .nav{flex-direction:column}.gh-foot-menu .nav li+li{margin-top:.4rem}.gh-foot-menu .nav li+li:before{display:none}.gh-powered-by{margin-top:3.2rem;text-align:center}}.pswp{-webkit-text-size-adjust:100%;-webkit-backface-visibility:hidden;backface-visibility:hidden;display:none;height:100%;left:0;outline:none;overflow:hidden;position:absolute;top:0;touch-action:none;width:100%;z-index:3999999}.pswp img{max-width:none}.pswp--animate_opacity{opacity:.001;transition:opacity 333ms cubic-bezier(.4,0,.22,1);will-change:opacity}.pswp--open{display:block}.pswp--zoom-allowed .pswp__img{cursor:zoom-in}.pswp--zoomed-in .pswp__img{cursor:grab}.pswp--dragging .pswp__img{cursor:grabbing}.pswp__bg{-webkit-backface-visibility:hidden;backface-visibility:hidden;background-color:rgba(0,0,0,.85);opacity:0;transform:translateZ(0);transition:opacity 333ms cubic-bezier(.4,0,.22,1);will-change:opacity}.pswp__bg,.pswp__scroll-wrap{height:100%;left:0;position:absolute;top:0;width:100%}.pswp__scroll-wrap{overflow:hidden}.pswp__container,.pswp__zoom-wrap{-webkit-backface-visibility:hidden;backface-visibility:hidden;bottom:0;left:0;position:absolute;right:0;top:0;touch-action:none}.pswp__container,.pswp__img{-webkit-tap-highlight-color:transparent;-webkit-touch-callout:none;-webkit-user-select:none;-moz-user-select:none;user-select:none}.pswp__zoom-wrap{position:absolute;transform-origin:left top;transition:transform 333ms cubic-bezier(.4,0,.22,1);width:100%}.pswp--animated-in .pswp__bg,.pswp--animated-in .pswp__zoom-wrap{transition:none}.pswp__item{bottom:0;overflow:hidden;right:0}.pswp__img,.pswp__item{left:0;position:absolute;top:0}.pswp__img{height:auto;width:auto}.pswp__img--placeholder{-webkit-backface-visibility:hidden;backface-visibility:hidden}.pswp__img--placeholder--blank{background:var(--color-black)}.pswp--ie .pswp__img{height:auto!important;left:0;top:0;width:100%!important}.pswp__error-msg{color:var(--color-secondary-text);font-size:14px;left:0;line-height:16px;margin-top:-8px;position:absolute;text-align:center;top:50%;width:100%}.pswp__error-msg a{color:var(--color-secondary-text);text-decoration:underline}.pswp__button{-webkit-appearance:none;-moz-appearance:none;appearance:none;background:none;border:0;box-shadow:none;cursor:pointer;display:block;float:right;height:44px;margin:0;overflow:visible;padding:0;position:relative;transition:opacity .2s;width:44px}.pswp__button:focus,.pswp__button:hover{opacity:1}.pswp__button:active{opacity:.9;outline:none}.pswp__button::-moz-focus-inner{border:0;padding:0}.pswp__ui--over-close .pswp__button--close{opacity:1}.pswp__button,.pswp__button--arrow--left:before,.pswp__button--arrow--right:before{background:url(../images/default-skin.png) 0 0 no-repeat;background-size:264px 88px;height:44px;width:44px}@media (-webkit-min-device-pixel-ratio:1.09375),(-webkit-min-device-pixel-ratio:1.1),(min-resolution:1.1dppx),(min-resolution:105dpi){.pswp--svg .pswp__button,.pswp--svg .pswp__button--arrow--left:before,.pswp--svg .pswp__button--arrow--right:before{background-image:url(../images/default-skin.svg)}.pswp--svg .pswp__button--arrow--left,.pswp--svg .pswp__button--arrow--right{background:none}}.pswp__button--close{background-position:0 -44px}.pswp__button--share{background-position:-44px -44px}.pswp__button--fs{display:none}.pswp--supports-fs .pswp__button--fs{display:block}.pswp--fs .pswp__button--fs{background-position:-44px 0}.pswp__button--zoom{background-position:-88px 0;display:none}.pswp--zoom-allowed .pswp__button--zoom{display:block}.pswp--zoomed-in .pswp__button--zoom{background-position:-132px 0}.pswp--touch .pswp__button--arrow--left,.pswp--touch .pswp__button--arrow--right{visibility:hidden}.pswp__button--arrow--left,.pswp__button--arrow--right{background:none;height:100px;margin-top:-50px;position:absolute;top:50%;width:70px}.pswp__button--arrow--left{left:0}.pswp__button--arrow--right{right:0}.pswp__button--arrow--left:before,.pswp__button--arrow--right:before{content:"";height:30px;position:absolute;top:35px;width:32px}.pswp__button--arrow--left:before{background-position:-138px -44px;left:6px}.pswp__button--arrow--right:before{background-position:-94px -44px;right:6px}.pswp__counter{color:var(--color-white);font-size:11px;font-weight:700;height:44px;left:0;line-height:44px;padding:0 15px;position:absolute;top:0;-webkit-user-select:none;-moz-user-select:none;user-select:none}.pswp__caption{bottom:0;left:0;min-height:44px;position:absolute;width:100%}.pswp__caption__center{color:var(--color-white);font-size:11px;line-height:1.6;margin:0 auto;max-width:420px;padding:25px 15px 30px;text-align:center}.pswp__caption__center .post-caption-title{font-size:15px;font-weight:500;margin-bottom:7px;text-transform:uppercase}.pswp__caption__center .post-caption-meta-item+.post-caption-meta-item:before{content:"\02022";padding:0 4px}.pswp__caption--empty{display:none}.pswp__caption--fake{visibility:hidden}.pswp__preloader{direction:ltr;height:44px;left:50%;margin-left:-22px;opacity:0;position:absolute;top:0;transition:opacity .25s ease-out;width:44px;will-change:opacity}.pswp__preloader__icn{height:20px;margin:12px;width:20px}.pswp__preloader--active{opacity:1}.pswp__preloader--active .pswp__preloader__icn{background:url(../images/preloader.gif) 0 0 no-repeat}.pswp--css_animation .pswp__preloader--active{opacity:1}.pswp--css_animation .pswp__preloader--active .pswp__preloader__icn{animation:clockwise .5s linear infinite}.pswp--css_animation .pswp__preloader--active .pswp__preloader__donut{animation:donut-rotate 1s cubic-bezier(.4,0,.22,1) infinite}.pswp--css_animation .pswp__preloader__icn{background:none;height:14px;left:15px;margin:0;opacity:.75;position:absolute;top:15px;width:14px}.pswp--css_animation .pswp__preloader__cut{height:14px;overflow:hidden;position:relative;width:7px}.pswp--css_animation .pswp__preloader__donut{background:none;border-bottom:2px solid transparent;border-left:2px solid transparent;border-radius:50%;border-right:2px solid var(--color-white);border-top:2px solid var(--color-white);box-sizing:border-box;height:14px;left:0;margin:0;position:absolute;top:0;width:14px}@media screen and (max-width:1024px){.pswp__preloader{float:right;left:auto;margin:0;position:relative;top:auto}}@keyframes clockwise{0%{transform:rotate(0deg)}to{transform:rotate(1turn)}}@keyframes donut-rotate{0%{transform:rotate(0)}50%{transform:rotate(-140deg)}to{transform:rotate(0)}}.pswp__ui{-webkit-font-smoothing:auto;opacity:1;visibility:visible;z-index:1550}.pswp__top-bar{height:44px;left:0;position:absolute;top:0;width:100%}.pswp--has_mouse .pswp__button--arrow--left,.pswp--has_mouse .pswp__button--arrow--right,.pswp__caption,.pswp__top-bar{-webkit-backface-visibility:hidden;backface-visibility:hidden;transition:opacity 333ms cubic-bezier(.4,0,.22,1);will-change:opacity}.pswp--has_mouse .pswp__button--arrow--left,.pswp--has_mouse .pswp__button--arrow--right{visibility:visible}.pswp__ui--idle .pswp__button--arrow--left,.pswp__ui--idle .pswp__button--arrow--right,.pswp__ui--idle .pswp__top-bar{opacity:0}.pswp__ui--hidden .pswp__button--arrow--left,.pswp__ui--hidden .pswp__button--arrow--right,.pswp__ui--hidden .pswp__caption,.pswp__ui--hidden .pswp__top-bar{opacity:.001}.pswp__ui--one-slide .pswp__button--arrow--left,.pswp__ui--one-slide .pswp__button--arrow--right,.pswp__ui--one-slide .pswp__counter{display:none}.pswp__element--disabled{display:none!important}.pswp--minimal--dark .pswp__top-bar{background:none}@font-face{font-family:Open Sans;font-style:normal;font-weight:400;src:local(""),url(../fonts/open-sans-v28-latin-regular.woff2) format("woff2"),url(../fonts/open-sans-v28-latin-regular.woff) format("woff")}@font-face{font-family:Open Sans;font-style:normal;font-weight:700;src:local(""),url(../fonts/open-sans-v28-latin-700.woff2) format("woff2"),url(../fonts/open-sans-v28-latin-700.woff) format("woff")}@font-face{font-family:Open Sans;font-style:italic;font-weight:400;src:local(""),url(../fonts/open-sans-v28-latin-italic.woff2) format("woff2"),url(../fonts/open-sans-v28-latin-italic.woff) format("woff")}@font-face{font-family:Open Sans;font-style:italic;font-weight:700;src:local(""),url(../fonts/open-sans-v28-latin-700italic.woff2) format("woff2"),url(../fonts/open-sans-v28-latin-700italic.woff) format("woff")}@font-face{font-family:Lora;font-style:normal;font-weight:400;src:local(""),url(../fonts/lora-v23-latin-regular.woff2) format("woff2"),url(../fonts/lora-v23-latin-regular.woff) format("woff")}@font-face{font-family:Lora;font-style:normal;font-weight:700;src:local(""),url(../fonts/lora-v23-latin-700.woff2) format("woff2"),url(../fonts/lora-v23-latin-700.woff) format("woff")}@font-face{font-family:Lora;font-style:italic;font-weight:400;src:local(""),url(../fonts/lora-v23-latin-italic.woff2) format("woff2"),url(../fonts/lora-v23-latin-italic.woff) format("woff")}@font-face{font-family:Lora;font-style:italic;font-weight:700;src:local(""),url(../fonts/lora-v23-latin-700italic.woff2) format("woff2"),url(../fonts/lora-v23-latin-700italic.woff) format("woff")}:root{--primary-color:var(--ghost-accent-color,#2ec4b6);--primary-text-color:#333;--secondary-text-color:#aaa;--white-color:#fff;--light-gray-color:#f4f4f4;--mid-gray-color:#e9e9e9;--dark-gray-color:#1a1a1a;--black-color:#000;--font-sans:"Open Sans",-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif;--font-serif:Lora,Times,serif;--animation-base:ease-in-out;--shadow-base:0 0 10px rgba(0,0,0,.02);--content-font-size:1.7rem}body:not(.post-template):not(.page-template){background-image:linear-gradient(0deg,#efefef 65%,#fff)}.gh-head{background-color:transparent}.gh-head-actions,.gh-head-menu{font-size:1.2rem;font-weight:700;letter-spacing:.005em;text-transform:uppercase}.gh-head-btn{--multiplier:1.3}.site{display:flex;flex-direction:column;min-height:100vh}.site-content{flex-grow:1;padding-bottom:30px;padding-top:30px}@media (min-width:992px){.related-column{order:1}.content-column{order:2}.sidebar-column{order:3}}.term{margin:32px 0 48px;max-width:560px}.term .author-image-placeholder{margin-bottom:16px}.term-name{font-size:2.4rem}.term-description{line-height:1.5;margin-top:12px}.post-feed{display:grid;gap:32px;grid-template-columns:repeat(4,1fr)}.post-link{display:flex;flex-direction:column;height:100%}.post-link:hover{opacity:1}.post-image{width:100%}.post-wrapper{background-color:var(--white-color);flex-grow:1;padding:20px}.post-tag{color:var(--tag-color,var(--ghost-accent-color));display:inline-block;font-size:1.1rem;font-weight:700;letter-spacing:.005em;line-height:1;margin-bottom:8px;text-transform:uppercase}.post-title{font-size:1.6rem;line-height:1.35;margin-bottom:0}.has-serif-title .post-title{font-family:var(--font-serif)}.post-excerpt{font-size:1.4rem;line-height:1.6;margin-top:12px}.has-serif-body .post-excerpt{font-family:var(--font-serif)}.post-footer{align-items:center;background-color:var(--white-color);border-top:1px solid var(--light-gray-color);display:flex;height:42px;justify-content:space-between;padding:0 20px}.post-more{font-size:1.1rem;font-weight:700;letter-spacing:.005em;line-height:1;text-transform:uppercase}.post-author{display:flex;margin-right:2px}.post-author-link{display:block;height:28px;margin:0 -4px;position:relative;width:28px}.post-author-link:first-child{z-index:10}.post-author-link:nth-child(2){z-index:9}.post-author-link:nth-child(3){z-index:8}.post-author-link:nth-child(4){z-index:7}.post-author-link:nth-child(5){z-index:6}.post-author-image{border:2px solid var(--white-color);border-radius:50%;height:100%;-o-object-fit:cover;object-fit:cover;width:100%}@media (max-width:767px){.post-feed{grid-template-columns:1fr}}@media (min-width:768px) and (max-width:991px){.post-feed{grid-template-columns:repeat(2,1fr)}}@media (min-width:992px) and (max-width:1199px){.post-feed{grid-template-columns:repeat(3,1fr)}}@media (min-width:992px){.is-head-stacked .post-feed{margin-top:32px}}.post-feed .featured{min-height:380px;position:relative}.post-feed .featured .post-link:before{background:linear-gradient(0deg,rgba(0,0,0,.5),transparent);content:"";inset:0;position:absolute;z-index:10}.post-feed .featured.no-image .post-link:before{background:var(--tag-color,var(--ghost-accent-color))}.post-feed .featured .post-media{background-color:transparent}.post-feed .featured>.post-image{z-index:-1}.post-feed .featured .post-media .post-image{display:none}.post-feed .featured .post-footer,.post-feed .featured .post-wrapper,.post-feed .featured .u-placeholder{background-color:transparent;position:relative;z-index:20}.post-feed .featured .post-wrapper{align-items:flex-end;display:flex}.post-feed .featured .post-header{margin-bottom:0}.post-feed .featured .post-tag{color:var(--white-color)}.post-feed .featured .post-title{font-size:2rem}.post-feed .featured .post-excerpt,.post-feed .featured .post-more,.post-feed .featured .post-title{color:var(--white-color)}.post-feed .featured .post-excerpt{display:none}.post-feed .featured .post-footer{border-color:hsla(0,0%,100%,.2)}.post-feed .featured .post-author-image{border-color:transparent}.gh-article{margin-top:64px}.gh-article-meta{color:var(--secondary-text-color);font-size:1.2rem;font-weight:700;margin-bottom:12px;text-transform:uppercase}.gh-article-tag{color:var(--tag-color,var(--ghost-accent-color))}.gh-article-title{font-size:3rem;letter-spacing:-.03em;line-height:1.4}.gh-article-excerpt{font-size:2rem}.gh-article-image{grid-column:main-start/main-end}.author-image-placeholder{border-radius:50%;flex-shrink:0;height:56px;overflow:hidden;width:56px}.navigation{display:flex;margin-top:64px}.navigation-item{display:flex;flex-direction:column;justify-content:center;position:relative;width:50%}.navigation-item:hover{opacity:1}.navigation-previous{margin-right:16px}.navigation-next{align-items:flex-end;margin-left:auto;text-align:right}.navigation-label{color:var(--secondary-text-color);font-size:11px;font-weight:700;position:relative;text-transform:uppercase;z-index:2}.navigation-title{font-size:2rem;line-height:1.4;margin:8px 0 0;position:relative;z-index:2}.navigation-item:hover .navigation-title{opacity:.8}@media (max-width:767px){.navigation{display:block}.navigation-item{width:100%}.navigation-next{margin-top:8px}}.comment-container{margin-top:80px}.related-wrapper{background-color:var(--light-gray-color);margin-top:96px;padding-bottom:64px;padding-top:48px}.related-title{color:var(--secondary-text-color);font-size:14px;letter-spacing:1px;margin:20px 0 40px;text-transform:uppercase}.u-shadow{border-radius:8px;box-shadow:var(--shadow-base);overflow:hidden;transition:box-shadow .3s var(--animation-base)}.u-shadow:hover{box-shadow:0 0 20px rgba(0,0,0,.12)}.u-placeholder{background-color:var(--light-gray-color);position:relative;z-index:10}.u-placeholder.same-height{height:0}.u-placeholder.rectangle{padding-bottom:56.25%}.u-object-fit{height:100%;-o-object-fit:cover;object-fit:cover;width:100%}.u-object-fit,.u-permalink{left:0;position:absolute;top:0}.u-permalink{bottom:0;outline:none;right:0;z-index:10}
/*# sourceMappingURL=screen.css.map */