<?xml version="1.0" encoding="UTF-8"?><rss xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:content="http://purl.org/rss/1.0/modules/content/" xmlns:atom="http://www.w3.org/2005/Atom" version="2.0" xmlns:media="http://search.yahoo.com/mrss/"><channel><title><![CDATA[kazi-ar-rafi]]></title><description><![CDATA[Dive into a dimension of imagination, introspection, and creativity with our plasma flame of  thought , all with a smile.]]></description><link>http://localhost:2368/</link><image><url>http://localhost:2368/favicon.png</url><title>kazi-ar-rafi</title><link>http://localhost:2368/</link></image><generator>Ghost 5.39</generator><lastBuildDate>Fri, 21 Apr 2023 18:18:52 GMT</lastBuildDate><atom:link href="http://localhost:2368/rss/" rel="self" type="application/rss+xml"/><ttl>60</ttl><item><title><![CDATA[I made a typing game inspired by piano tiles game.]]></title><description><![CDATA[<!--kg-card-begin: markdown--><h1 id="a-typing-game">A typing game</h1>
<h3 id="its-a-typing-game-inspired-by-piano-tiles-you-can-set-a-youtube-link-to-play-music-a-song-or-a-motivational-speech">It&apos;s a typing game inspired by Piano Tiles. You can set a YouTube link to play music, a song, or a motivational speech.</h3>
<h5 id="type-tiles-is-a-typing-game-that-is-inspired-by-piano-tiles-besides-seeing-a-motivating-lecture-or-listening-to-your-favorite-music-it-is-an-enjoyable-and-entertaining-strategy-for-improving-your-typing-speed-with-type-tiles-you-can-set-a-youtube-link-to-play-music-or-any-other-video-content-and-the-game-will-adjust-the-pace-of-the-tiles-based-on-the-rhythm-of-the-music">Type Tiles is a typing game that is inspired by Piano Tiles. Besides seeing a motivating lecture or listening to your favorite</h5>]]></description><link>http://localhost:2368/i-made-a-typing-game-inspired-by-type-tiles/</link><guid isPermaLink="false">6442d27639130c0412b90148</guid><dc:creator><![CDATA[kazi ar rafi]]></dc:creator><pubDate>Fri, 21 Apr 2023 18:18:33 GMT</pubDate><media:content url="https://images.unsplash.com/photo-1612287230202-1ff1d85d1bdf?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=MnwxMTc3M3wwfDF8c2VhcmNofDh8fGdhbWV8ZW58MHx8fHwxNjgyMDQ3NTM2&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=2000" medium="image"/><content:encoded><![CDATA[<!--kg-card-begin: markdown--><h1 id="a-typing-game">A typing game</h1>
<h3 id="its-a-typing-game-inspired-by-piano-tiles-you-can-set-a-youtube-link-to-play-music-a-song-or-a-motivational-speech">It&apos;s a typing game inspired by Piano Tiles. You can set a YouTube link to play music, a song, or a motivational speech.</h3>
<h5 id="type-tiles-is-a-typing-game-that-is-inspired-by-piano-tiles-besides-seeing-a-motivating-lecture-or-listening-to-your-favorite-music-it-is-an-enjoyable-and-entertaining-strategy-for-improving-your-typing-speed-with-type-tiles-you-can-set-a-youtube-link-to-play-music-or-any-other-video-content-and-the-game-will-adjust-the-pace-of-the-tiles-based-on-the-rhythm-of-the-music">Type Tiles is a typing game that is inspired by Piano Tiles. Besides seeing a motivating lecture or listening to your favorite music, it is an enjoyable and entertaining strategy for improving your typing speed. With Type Tiles, you can set a YouTube link to play music or any other video content, and the game will adjust the pace of the tiles based on the rhythm of the music.</h5>
<h1 id="do-you-want-to-play-this-game">Do you want to play this game?</h1>
<h2 id="on-linux">On linux</h2>
<img src="https://images.unsplash.com/photo-1612287230202-1ff1d85d1bdf?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=MnwxMTc3M3wwfDF8c2VhcmNofDh8fGdhbWV8ZW58MHx8fHwxNjgyMDQ3NTM2&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=2000" alt="I made a typing game inspired by piano tiles game."><p>Here is the Bin format <a href="https://drive.google.com/file/d/1dgcf28I7uZ6pA7EiYkn8ksuLnbw6gB1g/view?usp=sharing&amp;ref=localhost">Click here</a></p>
<pre><code>sudo chmod +x typogame
./typogame

</code></pre>
<h2 id="on-windows">On windows</h2>
<p>Here is the Bin format <a href="https://drive.google.com/file/d/1VUsLeqsocYaWnmE3UqSsh3glnRwmmVzL/view?usp=share_link&amp;ref=localhost">Click here</a></p>
<p>Recommended to run as administrator.</p>
<h2 id="finding-web-version-of-this-game">Finding web version of this Game ?</h2>
<p>Here is the web version of my game.<br>
<strong>Please note that you may experience lag due to your internet connection.</strong><br>
** To play this game, you must turn on the sound. Check the bottom-right corner of the Game window.**</p>
<p><em>recommended for pc user , mac ,Linux, windows , Chromebook</em><br>
<em>If you still want to play on your Android or Apple device, you can connect an external keyboard. However, please note that this may not provide the best user experience.</em></p>
<p><a href="https://replit.com/@krafi-info/Type-Tiles-Game-1?v=1&amp;ref=localhost">https://replit.com/@krafi-info/Type-Tiles-Game-1?v=1</a> <a href="https://replit.com/@krafi-info/Type-Tiles-Game-1?v=1&amp;ref=localhost">Click Here</a></p>
<p>source code(gitlab) : <a href="https://gitlab.com/krafi/type-tiles?ref=localhost">https://gitlab.com/krafi/type-tiles</a></p>
<h1 id="features">Features</h1>
<p>Type Tiles comes with the following features:</p>
<ol>
<li>
<p>YouTube Integration<br>
Type Tiles allows you to set a YouTube link to play music or any other video content. you can&#xA0;change&#xA0;the speed of the tiles in accordance with the beat of the music, creating a fun and difficult experience.</p>
</li>
<li>
<p>Real-Time Feedback<br>
Type Tiles displays your typing speed in words per minute (WPM) in real-time.With the help of this function, you can monitor your development and get better at typing .</p>
</li>
<li>
<p>Pause and Play<br>
Type Tiles allows you to pause and play the music by simply typing or stopping. If you stop typing, the music will also stop, making it an excellent tool for developing concentration and focus.</p>
</li>
<li>
<p>English Subtitle Typing<br>
Type Tiles is designed to help you improve your typing speed and accuracy, and what better way to do that than by typing English subtitles? With Type Tiles, you can type the subtitles of any YouTube video with English subtitles, making it an engaging and interactive way to practice typing.</p>
</li>
<li>
<p>Multiple Levels<br>
Type Tiles has multiple levels that gradually increase in difficulty. In level 1, you must type at least 10 WPM. In level 2, 20 WPM, and in level 3, 40 WPM.level 4,5,6,7,8,9 These levels challenge you to improve your typing skills and increase your speed.</p>
</li>
</ol>
<p>Conclusion<br>
Type Tiles is a fun and engaging typing game that is designed to help you improve your typing speed and accuracy. With features like real-time feedback, English subtitle typing, and multiple levels, Type Tiles is a great tool for anyone looking to develop their typing skills. Try it out today and see can you can improve your typing !</p>
<h2 id="wana-build">Wana build ?</h2>
<pre><code>
pip3 install youtube-transcript-api pygame pytube pydub tkinter 

on windows you may install FFmpeg also,
</code></pre>
<pre><code>python3 Run-Type-Tiles.py
</code></pre>
<h3 id="license">License</h3>
<p>The GNU General Public License v3.0 applies to this project. Please consult the LICENSE file in the repository&apos;s root directory for further details.</p>
<h3 id="disclaimer">Disclaimer</h3>
<p>While we consider the code in this repository is generally safe, it is supplied with no express or implied warranties. The authors of this code are not held accountable for any harm or liabilities incurred by the use or abuse of this code. By using this code, users are responsible for ensuring that they comply with all relevant laws, rules, or policies.</p>
<p>It should be noted that this software does not require root access to execute, reducing the possibility of unintended consequences. None the less, by using this code, you consent to shouldering all costs and obligations connected with its use, and you agree to indemnify and keep the authors of this code blameless from any claims, damages, or other liabilities that may occur as a result of your use of this code.</p>
<p>&quot;Thanks to my assistant ChatGPT for always helping.&quot;</p>
<h2 id="thank-you">Thank You</h2>
<p>Thank you for applying this code! We hope it is valuable to you and that you are going to employ it in your own projects.</p>
<p>Please email me if you have any thoughts, problems, or recommendations for improvement. We respect your feedback and would appreciate hearing from you.</p>
<p>I would also appreciate it if you could give us credit by mentioning or referring to our project in your own work. This allows us to continue creating and enhancing this code while also allowing other people to find it.</p>
<p>Thank you for your continued support and for selecting our code!</p>
<h1 id="deep-documentation-on-my-website">** deep documentation on my website !**</h1>
<ul>
<li>[ ] <a href="https://www.krafi.info/?ref=localhost">www.krafi.info</a></li>
</ul>
<h1 id="have-a-great-life-thank-you-for-using">Have a great Life, thank you for using</h1>
<!--kg-card-end: markdown-->]]></content:encoded></item><item><title><![CDATA[prayer tracker web application for Muslim , open source]]></title><description><![CDATA[<p></p><!--kg-card-begin: markdown--><h3 id="a-namaz-tracker-web-application">a namaz tracker web application</h3>
<p><strong>here is the demo link</strong><br>
Stable : <a href="https://open-islam.krafi.info/?ref=localhost">https://open-islam.krafi.info</a><br>
source code (gitlab) : <a href="https://gitlab.com/krafi/open-islam?ref=localhost">https://gitlab.com/krafi/open-islam</a></p>
<p>Open Islam is an open-source prayer diary application designed for Muslims to keep track of their daily prayers. With Open Islam, users can log their prayer history,</p>]]></description><link>http://localhost:2368/open-islam/</link><guid isPermaLink="false">6442ce0839130c0412b90109</guid><category><![CDATA[tech]]></category><category><![CDATA[web]]></category><dc:creator><![CDATA[kazi ar rafi]]></dc:creator><pubDate>Fri, 21 Apr 2023 17:57:25 GMT</pubDate><media:content url="https://images.unsplash.com/photo-1628066068625-015ea7bcc21a?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=MnwxMTc3M3wwfDF8c2VhcmNofDJ8fHJ1c3NpYSUyMG1vc3F1ZXxlbnwwfHx8fDE2ODIxMDA3Mzc&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=2000" medium="image"/><content:encoded><![CDATA[<img src="https://images.unsplash.com/photo-1628066068625-015ea7bcc21a?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=MnwxMTc3M3wwfDF8c2VhcmNofDJ8fHJ1c3NpYSUyMG1vc3F1ZXxlbnwwfHx8fDE2ODIxMDA3Mzc&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=2000" alt="prayer tracker web application for Muslim , open source"><p></p><!--kg-card-begin: markdown--><h3 id="a-namaz-tracker-web-application">a namaz tracker web application</h3>
<p><strong>here is the demo link</strong><br>
Stable : <a href="https://open-islam.krafi.info/?ref=localhost">https://open-islam.krafi.info</a><br>
source code (gitlab) : <a href="https://gitlab.com/krafi/open-islam?ref=localhost">https://gitlab.com/krafi/open-islam</a></p>
<p>Open Islam is an open-source prayer diary application designed for Muslims to keep track of their daily prayers. With Open Islam, users can log their prayer history, mark whether they prayed on time, late or missed, and view their progress over time.</p>
<h2 id="features">Features</h2>
<ul>
<li>Save your namaz history</li>
<li>Track whether you prayed on time, late or missed</li>
<li>View your progress over time</li>
<li>Take and give salam from developer</li>
<li>Check date and time from your IP address and system time</li>
<li>Completely open-source</li>
<li>Download your data</li>
<li>How to Use</li>
<li>To use Open Islam, simply visit the website and create an account. Once you&apos;re logged in, you can start logging your prayer history and tracking your progress.</li>
</ul>
<h2 id="development">Development</h2>
<p>Open Islam was developed using HTML, CSS, JavaScript and Node.js. It&apos;s completely open-source and available on gitlab. Developers that want to contribute to enhancing the web application are welcomed.I have a fascinating idea to create an Electron-based app that will function flawlessly on both Android and desktop (Linux and Windows) platforms.  This will allow users to have a consistent experience across their devices and enable them to access their prayer diary application whenever and wherever they need it. With this cross-platform compatibility, users will be able to enjoy a flexible and convenient prayer tracking experience that meets their individual needs. also adding different kind of chart</p>
<h2 id="security">Security</h2>
<p>We take user privacy and security seriously. All user data is encrypted and regularly backed up to prevent data loss. We never share user information to outside parties, and users can download&#xA0;their data whenever they wish.</p>
<p>Thank you for considering Open Islam as your prayer diary application. We hope it helps you improve your spiritual practices and deepen your connection with Allah.</p>
<h2 id="license">License</h2>
<p>The GNU General Public License v3.0 applies to this project. Please consult the LICENSE file in the repository&apos;s root directory for further details.</p>
<h2 id="disclaimer">Disclaimer</h2>
<p>While we consider the code in this repository is generally safe, it is supplied with no express or implied warranties. The authors of this code are not held accountable for any harm or liabilities incurred by the use or abuse of this code. By using this code, users are responsible for ensuring that they comply with all relevant laws, rules, or policies.</p>
<p>It should be noted that this software does not require root access to execute, reducing the possibility of unintended consequences. None the less, by using this code, you consent to shouldering all costs and obligations connected with its use, and you agree to indemnify and keep the authors of this code blameless from any claims, damages, or other liabilities that may occur as a result of your use of this code.</p>
<p>&quot;Thanks to my assistant ChatGPT for always helping.&quot;</p>
<h2 id="thank-you">Thank You</h2>
<p>Thank you for applying this code! We hope it is valuable to you and that you are going to employ it in your own projects.</p>
<p>Please email me if you have any thoughts, problems, or recommendations for improvement. We respect your feedback and would appreciate hearing from you.</p>
<p>I would also appreciate it if you could give us credit by mentioning or referring to our project in your own work. This allows us to continue creating and enhancing this code while also allowing other people to find it.</p>
<p>Thank you for your continued support and for selecting our code!</p>
<h1 id="have-a-great-life-thank-you-for-using">Have a great Life, thank you for using</h1>
<!--kg-card-end: markdown-->]]></content:encoded></item><item><title><![CDATA[CHATGPT is Now on Linux Terminal]]></title><description><![CDATA[Just imagine having a powerful AI integrated with Bash; you won't have to open a browser. Now, you can interact directly with the Linux terminal.]]></description><link>http://localhost:2368/chatgpt-is-now-on-linux-terminal/</link><guid isPermaLink="false">6415c851786661041b3e088e</guid><category><![CDATA[linux]]></category><category><![CDATA[tech]]></category><dc:creator><![CDATA[kazi ar rafi]]></dc:creator><pubDate>Sat, 18 Mar 2023 14:34:04 GMT</pubDate><media:content url="https://images.unsplash.com/photo-1675865254433-6ba341f0f00b?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=MnwxMTc3M3wwfDF8c2VhcmNofDE2fHwlMjBjaGF0Z3B0fGVufDB8fHx8MTY3OTE0OTM5Nw&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=2000" medium="image"/><content:encoded><![CDATA[<img src="https://images.unsplash.com/photo-1675865254433-6ba341f0f00b?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=MnwxMTc3M3wwfDF8c2VhcmNofDE2fHwlMjBjaGF0Z3B0fGVufDB8fHx8MTY3OTE0OTM5Nw&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=2000" alt="CHATGPT is Now on Linux Terminal"><p><a href="https://gitlab.com/krafi/chatgpt-with-terminal?ref=localhost">https://gitlab.com/krafi/chatgpt-with-terminal</a></p><p>Maybe you are Linux user , if you&apos;re then probably familiar with the power and flexibility and freedom of the command line. From managing files , installing software and configuring your system as you dream, the command line is a powerful tool for getting things done quickly and efficiently. But did you know that you can acess chatgpt with command line to chat with an AI-powered chatbot? Just Imagine Bash with a powerful AI; you wouldn&apos;t have to go and open the browser every time..</p><p>With the OpenAI GPT-3 chatbot and Bash scripting, you can create a chatbot that you can interact with directly from the terminal. This gives numerous benefits over running a chatbot in a web browser,including:</p><p>Saving time: When working on the command line, you don&apos;t want to waste time going between your terminal and a web browser. You may save time and optimize your workflow by establishing a chatbot that you can engage with directly from the terminal.</p><p>Customization: With Bash scripting, you can customize the behavior of your chatbot to suit your needs. For example, you can set the temperature and maximum number of tokens for the OpenAI API, or add additional functionality to your chatbot using Bash scripts.</p><p>Privacy and security of data : When you use a chatbot in a web browser, you are frequently exchanging your dialogue and personal data with a third-party provider. You may keep your interactions private and safe by designing a chatbot that runs locally on your Linux system.</p><p>So, how do you get started with creating a chatbot using OpenAI GPT-3 and Bash scripting? The project&apos;s code is free and open source and you can grub the code from GitLab, and all you need to get started is an OpenAI API key. When you&apos;ve configured your API key and endpoint, you may speak with your chatbot directly from the terminal.</p><p>Of course, like any AI-powered technology, it&apos;s important to be aware of the limitations and ethical considerations of using GPT-3. For example, you might want to review your chatbot replies are suitable or not.</p><p>Overall, creating a chatbot with OpenAI GPT-3 and Bash scripting is a great way to experiment with AI-powered technologies on your Linux system. With a little imagination and modification. You can create a chatbot who is capable to understand and also that is both entertaining and useful, allowing you to get more done from the command line.<br>Building a Chatbot with OpenAI&apos;s GPT-3 and Bash Scripting</p><p><a href="https://gitlab.com/krafi/chatgpt-with-terminal?ref=localhost">https://gitlab.com/krafi/chatgpt-with-terminal</a></p>]]></content:encoded></item><item><title><![CDATA[How to Get Desktop Notifications on Telegram Using Bash Script]]></title><description><![CDATA[Do you ever miss important notifications while working ? Have you ever wished you could receive  notifications from your phone or other devices? ]]></description><link>http://localhost:2368/how-to-get-desktop-notifications-on-telegram-using-bash-script/</link><guid isPermaLink="false">64157ae6786661041b3e086e</guid><category><![CDATA[linux]]></category><category><![CDATA[tech]]></category><category><![CDATA[web]]></category><dc:creator><![CDATA[kazi ar rafi]]></dc:creator><pubDate>Sat, 18 Mar 2023 08:50:21 GMT</pubDate><media:content url="https://images.unsplash.com/photo-1636743091340-af4ee8147080?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=MnwxMTc3M3wwfDF8c2VhcmNofDJ8fHRlbGVncmFtfGVufDB8fHx8MTY3OTEyOTM4OA&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=2000" medium="image"/><content:encoded><![CDATA[<img src="https://images.unsplash.com/photo-1636743091340-af4ee8147080?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=MnwxMTc3M3wwfDF8c2VhcmNofDJ8fHRlbGVncmFtfGVufDB8fHx8MTY3OTEyOTM4OA&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=2000" alt="How to Get Desktop Notifications on Telegram Using Bash Script"><p>How to Get Desktop Notifications on Telegram Using Bash Script</p><figure class="kg-card kg-bookmark-card"><a class="kg-bookmark-container" href="https://gitlab.com/krafi/linux-notifications-to-telegram/-/tree/main/?ref=localhost"><div class="kg-bookmark-content"><div class="kg-bookmark-title">Files &#xB7; main &#xB7; kazi ar rafi / Linux Notifications to Telegram &#xB7; GitLab</div><div class="kg-bookmark-description">GitLab.com</div><div class="kg-bookmark-metadata"><img class="kg-bookmark-icon" src="https://gitlab.com/assets/favicon-72a2cad5025aa931d6ea56c3201d1f18e68a8cd39788c7c80d5b2b82aa5143ef.png" alt="How to Get Desktop Notifications on Telegram Using Bash Script"><span class="kg-bookmark-author">GitLab</span></div></div><div class="kg-bookmark-thumbnail"><img src="https://gitlab.com/assets/twitter_card-570ddb06edf56a2312253c5872489847a0f385112ddbcd71ccfa1570febab5d2.jpg" alt="How to Get Desktop Notifications on Telegram Using Bash Script"></div></a></figure><p>Do you ever miss important notifications while working on your desktop? Have you ever wished you could receive Linux Desktop or linux server notifications from your phone or other devices? In this article, we&apos;ll demonstrate how to write a bash script that uses the Telegram Bot API to monitor desktop alerts and deliver them to a Telegram chat.</p><p>Let&apos;s configure the Telegram Bot API first build a bot and get an API key in order to use the API. You can do this by searching for &quot;BotFather&quot; on Telegram and create a api key,</p><p>Once you have your API key,Dont forget to start the bot, read the &quot;BotFather&quot; message carefully. There is a link.TELEGRAM_API_KEY=&quot;YOUR_TELEGRAM_API_KEY&quot; you&apos;ll also need to obtain the chat ID for the chat where you want to receive notifications. To do this, you can search for the &quot;userinfobot&quot; on Telegram and follow the instructions.<br>TELEGRAM_CHAT_ID=&quot;YOUR_TELEGRAM_CHAT_ID&quot;</p><p>With your API key and chat ID in hand, you can now create your bash script. Here&apos;s an example script that utilises dbus-monitor to listen for org.freedesktop alerts. Using the Telegram Bot API, it receives notifications and distributes them to the Telegram chat:</p><p>Don&apos;t forget to read the GitLab page for more documentation.</p><figure class="kg-card kg-bookmark-card"><a class="kg-bookmark-container" href="https://gitlab.com/krafi/linux-notifications-to-telegram/-/tree/main/?ref=localhost"><div class="kg-bookmark-content"><div class="kg-bookmark-title">Files &#xB7; main &#xB7; kazi ar rafi / Linux Notifications to Telegram &#xB7; GitLab</div><div class="kg-bookmark-description">GitLab.com</div><div class="kg-bookmark-metadata"><img class="kg-bookmark-icon" src="https://gitlab.com/assets/favicon-72a2cad5025aa931d6ea56c3201d1f18e68a8cd39788c7c80d5b2b82aa5143ef.png" alt="How to Get Desktop Notifications on Telegram Using Bash Script"><span class="kg-bookmark-author">GitLab</span></div></div><div class="kg-bookmark-thumbnail"><img src="https://gitlab.com/assets/twitter_card-570ddb06edf56a2312253c5872489847a0f385112ddbcd71ccfa1570febab5d2.jpg" alt="How to Get Desktop Notifications on Telegram Using Bash Script"></div></a></figure>]]></content:encoded></item><item><title><![CDATA[Coming soon]]></title><description><![CDATA[<p>This is Krafi.info, a brand new site by kazi ar rafi that&apos;s just getting started. Things will be up and running here shortly, but you can <a href="#/portal/">subscribe</a> in the meantime if you&apos;d like to stay up to date and receive emails when new content is</p>]]></description><link>http://localhost:2368/coming-soon/</link><guid isPermaLink="false">6414aa72bd43aa05735664f2</guid><category><![CDATA[News]]></category><dc:creator><![CDATA[kazi ar rafi]]></dc:creator><pubDate>Fri, 17 Mar 2023 17:59:14 GMT</pubDate><media:content url="http://localhost:2368/content/images/2023/03/avatar2.png" medium="image"/><content:encoded><![CDATA[<img src="http://localhost:2368/content/images/2023/03/avatar2.png" alt="Coming soon"><p>This is Krafi.info, a brand new site by kazi ar rafi that&apos;s just getting started. Things will be up and running here shortly, but you can <a href="#/portal/">subscribe</a> in the meantime if you&apos;d like to stay up to date and receive emails when new content is published!!</p><p></p><figure class="kg-card kg-image-card"><img src="http://localhost:2368/content/images/2023/03/avatar.png" class="kg-image" alt="Coming soon" loading="eager" width="1024" height="1024" srcset="http://localhost:2368/content/images/size/w600/2023/03/avatar.png 600w, http://localhost:2368/content/images/size/w1000/2023/03/avatar.png 1000w, http://localhost:2368/content/images/2023/03/avatar.png 1024w" sizes="(min-width: 720px) 720px"></figure>]]></content:encoded></item><item><title><![CDATA[My made unsplash auto wallpaper changer linux]]></title><description><![CDATA[I am impressed with how it work.Put it on your computer, Let the software refresh your desktop every day with gorgeous, high-quality photographs!]]></description><link>http://localhost:2368/my_made_unsplash_auto_wallpaper_changer_linux-2/</link><guid isPermaLink="false">6414acefbd43aa05735666ab</guid><category><![CDATA[linux]]></category><category><![CDATA[tech]]></category><dc:creator><![CDATA[kazi ar rafi]]></dc:creator><pubDate>Wed, 01 Mar 2023 17:04:00 GMT</pubDate><media:content url="https://images.unsplash.com/photo-1529675641475-78780f1fd4b0?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=MnwxMTc3M3wwfDF8c2VhcmNofDE0fHx1bnNwbGFzaHxlbnwwfHx8fDE2Nzc2OTAzNzk&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=2000" medium="image"/><content:encoded><![CDATA[<h3 id="here-is-the-link-of-source-code">Here is the link of source code...</h3><figure class="kg-card kg-bookmark-card"><a class="kg-bookmark-container" href="https://gitlab.com/krafi/unsplash-wallpaper-changer-for-linux?ref=localhost"><div class="kg-bookmark-content"><div class="kg-bookmark-title">kazi ar rafi / unsplash wallpaper changer for linux &#xB7; GitLab</div><div class="kg-bookmark-description">GitLab.com</div><div class="kg-bookmark-metadata"><img class="kg-bookmark-icon" src="https://gitlab.com/assets/favicon-72a2cad5025aa931d6ea56c3201d1f18e68a8cd39788c7c80d5b2b82aa5143ef.png" alt="My made unsplash auto wallpaper changer linux"><span class="kg-bookmark-author">GitLab</span></div></div><div class="kg-bookmark-thumbnail"><img src="https://gitlab.com/uploads/-/system/project/avatar/43900832/unsplash.jpg" alt="My made unsplash auto wallpaper changer linux"></div></a></figure><img src="https://images.unsplash.com/photo-1529675641475-78780f1fd4b0?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=MnwxMTc3M3wwfDF8c2VhcmNofDE0fHx1bnNwbGFzaHxlbnwwfHx8fDE2Nzc2OTAzNzk&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=2000" alt="My made unsplash auto wallpaper changer linux"><p>Welcome to my blog post focusing on my most recent effort, a wallpaper changing software that I spent over 12 hours creating! I&apos;m quite excited to share it with you since I&apos;m completely fascinated with this code. It&apos;s really clean, well-organized, and simple to grasp.</p><p>This is not your average wallpaper changer program. Instead, it accesses high-quality photographs via the Unsplash API and allows users to define which categories of photos they wish to see. I&apos;ve combined the program with wget to get photos from the internet and Nitrogen to install fresh wallpapers on the user&apos;s desktop. </p><h3 id="compatibility-and-the-auto-start-function">Compatibility and the Auto Start Function</h3><p>This wallpaper changing software supports an auto start capability, which permits it to activate automatically upon system launch, This means you may enjoy new and gorgeous backgrounds every day without having to open the program each time.</p><p>Secondly, I tested this application with Fedora, Ubuntu, and Arch Linux. And can verify that it works flawlessly on all three operating systems. This auto start feature is more tested and &#xA0;recommended for users of major desktop environments such as Gnome, and KDE and i3 window manager.</p><p>Finally, if you&apos;re seeking for a dependable and simplistic wallpaper change software with a range of interesting functions, this app is definitely worth a go. You may enjoy new and beautiful wallpapers every day with its auto start function and compatibility with many operating systems!</p><figure class="kg-card kg-embed-card"><iframe width="200" height="113" src="https://www.youtube.com/embed/NXjmq5nco8k?feature=oembed" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen title="My made unsplash auto wallpaper changer linux."></iframe></figure><h3 id="automatic-installation-of-wget-and-nitrogen">Automatic Installation of Wget and Nitrogen</h3><p>This wallpaper changing program provides an automated installation function for wget and nitrogen to make things even easier for users. If these two packages are not currently present on your system, the program will identify and utilize your Linux distribution&apos;s package manager to install them.</p><p>If you&apos;re using Ubuntu, for example, the program will run &quot;pkexec apt install nitrogen wget -y&quot; to install the required packages. Similarly, it will run &quot;pkexec pacman -Sy nitrogen wget -y&quot; on Arch Linux and &quot;pkexec dnf update &#x2014; refresh -y&quot; on Fedora.</p><p>It&apos;s worth mentioning that the program executes these installation commands via pkexec. If you&apos;re using an open source DE(desktop environment) such as &quot;Gnome, KDE, or XFCE&quot;. You don&apos;t need to over think because polkit is already running in the background. But, If you&apos;re using a window manager or similar basic configuration, you may need to make sure polkit is running. If the package has not been installed, you may try installing it with lxpolkit, a lightweight polkit authentication agent.</p><p>Ultimately, the automated installation feature ensures that the program is completely functioning and ready to use without the need for any extra manual setup.</p><p>One of the app&apos;s best features is that it destroys duplicate photographs if Unsplash delivers. &#xA0;Users can also choose their display resolution and the amount of disk space they wish to set up for photo downloads. If the provided storage space fills up (default 9GB) , the program will automatically erase older photographs to create place for new ones.</p><p>At the end, I am impressed with how this project goes out for daily uses. I hope everyone will find it as fascinating and beneficial as I do. Why not give it one shot?Put it on your computer, then sit back and let the software refresh your desktop every day with gorgeous, high-quality photographs!</p><hr><h2 id="from-this-section-i-will-start-talking-how-you-can-modify-code-for-your-own-uses-lets-get-started">From this section I will start talking how you can modify code for your own uses. Lets get started </h2><h3 id="open-unsplashkrafiwallpapergenerator-file">open unsplash_krafi_wallpaper_generator file </h3><p>now you can see </p><pre><code class="language-bash"># Set the monitor resolution 
monitor_resolution=&quot;1920x1080&quot;
</code></pre><p>My monitor is full HD or 1080 , in your case maybe you can change your monitor resolution like &quot;2560x1440&quot; or &quot;1280x720&quot; . </p><p></p><p>After making change on that script you can just<strong> save </strong>and<strong> run</strong>, but its more good if you <strong>reinstall</strong> to reinstall <strong>run</strong> :</p><pre><code class="language-bash"> rm -rf ~/.local/bin/unsplash_krafi_wallpaper_generator 
 ./unsplash_krafi_wallpaper_generator</code></pre><hr><p>Note : 2560x1440 also known as Quad HD or 1440p and 1280x720 &#xA0;is also known as HD or 720p</p><pre><code class="language-bash"># 60 sec wallpaper will change 
change_timer=&quot;30s&quot;
</code></pre><p>So, your wallpaper will change every 30s you may like to change it to 1 min ?</p><p>Note: 1 minute = 60s &#xA0; &#xA0; &#xA0; &#xA0; &#xA0; &#xA0;if you want to minute &#xA0;2 minute = 120s</p><p>After making change on that script you can just<strong> save </strong>and<strong> run</strong>, but its more good if you <strong>reinstall</strong> to reinstall <strong>run</strong> :</p><pre><code class="language-bash"> rm -rf ~/.local/bin/unsplash_krafi_wallpaper_generator 
 ./unsplash_krafi_wallpaper_generator</code></pre><hr><p>If you don&apos;t like those categories I am using them for my wallpaper... you have &#xA0;full freedom to change them, </p><pre><code class="language-bash">queries=(
    &quot;quran&quot;
    &quot;russia&quot;
    &quot;moscow&quot;
    &quot;cactus&quot;
    &quot;horror&quot;
    &quot;nature&quot;
    &quot;quotes&quot;
    &quot;technology&quot;
    &quot;travel&quot;
    &quot;universe&quot;
    &quot;3D
    &quot;islamic&quot;
    &quot;mathematics&quot;
    &quot;mosques&quot;
    &quot;Kaaba&quot;
    &quot;Linux&quot;
    &quot;korea&quot;
    &quot;southkorea&quot;
    &quot;kazan&quot;
    &quot;Seoul&quot;
    &quot;Busan&quot;
    )</code></pre><p>you can change them like popular wallpaper Nature, Abstract, Minimalist, Space, Vintage, Technology, Sports, Inspirational</p><p>so the result will be like </p><pre><code class="language-bash">queries=(
&quot;Nature&quot;
&quot;Abstract&quot;
&quot;Minimalist&quot;
&quot;Space&quot;
&quot;Vintage&quot;
&quot;Technology&quot;
&quot;Sports&quot;
&quot;Inspirational&quot;
)</code></pre><p>After making change on that script you can just save and run, but its more good if you reinstall to reinstall run </p><pre><code class="language-bash"> rm -rf ~/.local/bin/unsplash_krafi_wallpaper_generator 
 ./unsplash_krafi_wallpaper_generator</code></pre><p>#### Don&apos;t know your monitor resolution?</p><p>run <strong>xrand</strong> on your terminal ?</p><pre><code class="language-bash">xrand</code></pre><p>my output is </p><pre><code class="language-bash">Screen 0: minimum 320 x 200, current 1920 x 1080, maximum 16384 x 16384
HDMI-A-0 connected primary 1920x1080+0+0 (normal left inverted right x axis y axis) 476mm x 268mm
   1920x1080     60.00*+  74.97    50.00    59.94  
   1600x1200     60.00  
   1680x1050     59.88  
   1280x1024     75.02    60.02  
   1440x900      59.90  
   1280x960      60.00  
   1360x768      59.95  
   1280x800      60.00  
   1152x864      75.00  
   1280x720      60.00    50.00    59.94  
   1024x768      75.03    70.07    60.00  
   800x600       72.19    75.00    60.32    56.25  
   720x576       50.00  
   720x480       60.00    59.94  
   640x480       75.00    72.81    60.00    59.94  
   720x400       70.08  
DisplayPort-0 disconnected (normal left inverted right x axis y axis)
DisplayPort-1 disconnected (normal left inverted right x axis y axis)</code></pre><p>All the Download Photos will save into <strong>~/Pictures/Wallpapers@krafi.info/</strong> this directory</p><h3 id="worry-about-storage">Worry about Storage ?</h3><p><br>well, don&apos;t worry i have the solution. by default it will Continue Downloading 9gb than it will start removing old photos by created time on that directory , and always try to remove same photo. But you can Change this limit value &#xA0;max_size_gb=9 to you can make it 99999999 or 1 and dont forget to<strong> Reinstall</strong>.</p><pre><code class="language-bash"># Set the maximum size of the directory in GB
max_size_gb=9</code></pre><h3 id="list-of-dependencies"><br>List of dependencies _</h3><ul><li>poltit (as I mention earlyer, Dont worry if you are using Gnome, KDE, XFCE)</li><li>nitrogen ( if not installed this script will auto install )</li><li>3. wget ( if not installed this script will auto install )</li></ul><h3 id="do-you-want-to-unistall-this-service-completely">Do you want to Unistall this service completely?</h3><pre><code class="language-bash">sudo rm -f ~/.local/bin/unsplash_krafi_wallpaper_generator &amp;&amp; sudo rm -f ~/.config/autostart/unsplash_krafi_wallpaper_generator.desktop

# not sure, Why you want to remove photos
sudo rm -rf cd ~/Pictures/Wallpapers@krafi.info/</code></pre><p></p><h3 id="disclaimer"> Disclaimer</h3><p></p><p>While we consider the code in this repository is generally safe, it is supplied &quot;unsplash krafi wallpaper generator&quot; with no express or implied warranties. The authors of this code are not held accountable for any harm or liabilities incurred by the use or abuse of this code. By using this code, users are responsible for ensuring that they comply with all relevant laws, rules, or policies.<br>It should be noted that this software does not require root access to execute, reducing the possibility of unintended consequences. None the less, by using this code, you consent to shouldering all costs and obligations connected with its use, and you agree to indemnify and keep the authors of this code blameless from any claims, damages, or other liabilities that may occur as a result of your use of this code.</p><h3 id="gratitude"> Gratitude</h3><p>This project might not have been done without the ChatGPT AI model, which contributed invaluable support. We appreciate and thank ChatGPT&apos;s contributions to this project.<br>We also thanks the Unsplash API for supplying access to the high-quality photographs utilized in this project.</p><h3 id="license"><br> License</h3><p>The GNU General Public License v3.0 applies to this project. Please consult the LICENSE file in the repository&apos;s root directory for further details.</p><h3 id="thank-you"><br><br>Thank You</h3><p>Thank you for applying this code! We hope it is valuable to you and that you are going to employ it in your own projects.<br>Please email me if you have any thoughts, problems, or recommendations for improvement. We respect your feedback and would appreciate hearing from you.<br>I would also appreciate it if you could give us credit by mentioning or referring to our project in your own work. This allows us to continue creating and enhancing this code while also allowing other people to find it.<br>Thank you for your continued support and for selecting our code!<br># Have a great Life, thank you for using<br></p>]]></content:encoded></item><item><title><![CDATA[cities of russia as foreigner (Onine research)]]></title><description><![CDATA[<p></p><p>I was collecting data about Russia and Russian cities for the purpose of studying in Russia. Why not discuss that in a blog post, I thought.</p><p>With 11 time zones, Russia is the largest country on earth. It has a long, rich history rooted in Asian culture.</p><p></p><hr><h2 id="my-personal-ranking-of-russian-cities-are">my personal ranking</h2>]]></description><link>http://localhost:2368/cities-of-russia-as-foreigner-2/</link><guid isPermaLink="false">6414acefbd43aa05735666a9</guid><category><![CDATA[russia]]></category><dc:creator><![CDATA[kazi ar rafi]]></dc:creator><pubDate>Fri, 17 Feb 2023 16:00:00 GMT</pubDate><media:content url="https://images.unsplash.com/photo-1513326738677-b964603b136d?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=MnwxMTc3M3wwfDF8c2VhcmNofDF8fHJ1c3NpYXxlbnwwfHx8fDE2NzY2NjE1ODE&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=2000" medium="image"/><content:encoded><![CDATA[<img src="https://images.unsplash.com/photo-1513326738677-b964603b136d?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=MnwxMTc3M3wwfDF8c2VhcmNofDF8fHJ1c3NpYXxlbnwwfHx8fDE2NzY2NjE1ODE&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=2000" alt="cities of russia as foreigner (Onine research)"><p></p><p>I was collecting data about Russia and Russian cities for the purpose of studying in Russia. Why not discuss that in a blog post, I thought.</p><p>With 11 time zones, Russia is the largest country on earth. It has a long, rich history rooted in Asian culture.</p><p></p><hr><h2 id="my-personal-ranking-of-russian-cities-are">my personal ranking of Russian cities are</h2><h3 id="1-moscow">1. Moscow,</h3><h3 id="2-st-petersburg">2. St. Petersburg</h3><h3 id="3-kazan">3. Kazan</h3><h3 id="4-nizhny-novgorod">4. Nizhny Novgorod</h3><h3 id="5-novosibirsk">5. Novosibirsk,</h3><h3 id="6-grozny">6. Grozny</h3><h3 id="7-samara">7. Samara</h3><h3 id="8-yekaterinburg">8. Yekaterinburg</h3><hr><h2 id="1-moscow-1">1. Moscow:</h2><p></p><p>Moscow are considered to be the most developed in terms of economic and social metrics including GDP, infrastructure, education, and quality of life</p><p>Information about the gender distribution in Moscow, Russia:</p><p>Moscow: The population of Moscow was around 12.7 million as of 2021, with 6.1 million women and 6.6 million men, according to the Moscow City Statistical Service. This amounts to roughly 92.4 men for every 100 women or the gender ratio.</p><figure class="kg-card kg-image-card kg-card-hascaption"><img src="https://images.unsplash.com/photo-1495542779398-9fec7dc7986c?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=MnwxMTc3M3wwfDF8c2VhcmNofDN8fG1vc2Nvd3xlbnwwfHx8fDE2NzY2OTA0NTE&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=2000" class="kg-image" alt="cities of russia as foreigner (Onine research)" loading="eager" width="3992" height="2992" srcset="https://images.unsplash.com/photo-1495542779398-9fec7dc7986c?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=MnwxMTc3M3wwfDF8c2VhcmNofDN8fG1vc2Nvd3xlbnwwfHx8fDE2NzY2OTA0NTE&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=600 600w, https://images.unsplash.com/photo-1495542779398-9fec7dc7986c?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=MnwxMTc3M3wwfDF8c2VhcmNofDN8fG1vc2Nvd3xlbnwwfHx8fDE2NzY2OTA0NTE&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1000 1000w, https://images.unsplash.com/photo-1495542779398-9fec7dc7986c?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=MnwxMTc3M3wwfDF8c2VhcmNofDN8fG1vc2Nvd3xlbnwwfHx8fDE2NzY2OTA0NTE&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1600 1600w, https://images.unsplash.com/photo-1495542779398-9fec7dc7986c?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=MnwxMTc3M3wwfDF8c2VhcmNofDN8fG1vc2Nvd3xlbnwwfHx8fDE2NzY2OTA0NTE&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=2400 2400w" sizes="(min-width: 720px) 720px"><figcaption>Photo by <a href="https://unsplash.com/es/@astik07?utm_source=ghost&amp;utm_medium=referral&amp;utm_campaign=api-credit">Astemir Almov</a> / <a href="https://unsplash.com/?utm_source=ghost&amp;utm_medium=referral&amp;utm_campaign=api-credit">Unsplash</a></figcaption></figure><p>Moscow serves as the nation&apos;s political, economic, and cultural hub. It is also Russia&apos;s capital.</p><p>It has a vibrant nightlife and entertainment scene, as well as many renowned museums, theaters, and historical sites. Moscow is famed for its excellent job opportunities, as well as for its high incomes, particularly in the energy, technology, and financial sectors.</p><p>Moscow is home to a huge number of high-tech startups and international technology corporations, making it Russia&apos;s largest technology hub.</p><p>Moscow experiences humid continental weather, with warm summers and chilly winters. Depending on the season, Moscow&apos;s typical temperature changes greatly. The Moscow monthly averages for temperature are as follows:</p><p><br>Nov to Jan: (0&#xB0; to -7&#xB0;)C</p><p>Feb to Apr: (-6&#xB0; to 8&#xB0;)C</p><p>May to Jul: (15&#xB0; to 21&#xB0;)C</p><p>Aug to Oct: (19&#xB0; to 8&#xB0;)C</p><p>Sep to Oct: (14&#xB0; to 8&#xB0;)C</p><p></p><h3 id="muslim-point-of-view">MUSLIM POINT OF VIEW:</h3><p>Although Moscow is not a Muslim city, there are many mosques and Islamic centers there, notably the Moscow Cathedral Mosque, one of the biggest mosques in Russia, and a sizeable Muslim population.</p><p></p><p>One of the greatest cities in Russia for studying in Moscow. The largest capital of Russia, it is renowned for its historic past, vibrant present, and famous educational institutions. Moscow is a fantastic study destination city in Russia for the following reasons:</p><p><strong>1. Best Universities:</strong> &#xA0;Several of Russia&apos;s best universities, like Moscow State University, which consistently ranks among the top institutions in the nation, are located in Moscow. The Moscow Institute of Science and Technology, Bauman Moscow State Technical University, and the Higher School of Economics are some of the city&apos;s other prestigious universities.</p><p><strong>2. Excellent Academic Programs:</strong> Moscow&apos;s universities provide outstanding academic programs in a range of subject areas, including science, engineering, the social sciences, humanities, and the arts. Modern facilities and laboratories help their research and teaching efforts.</p><p><strong>3. Moscow is a cultural powerhouse</strong> with a large number of museums, theaters, and art galleries. While studying in the city, students can get a firsthand look at Russian history and culture.</p><p>4. The city is home to many of the leading Russian businesses and organizations, giving students the chance to network with professionals and subject matter experts while studying there.</p><p>5. Moscow is a multicultural city with a sizable international population. Worldwide students can interact with other foreign students and experience a multiethnic setting.</p><p><strong>6. City Life: </strong>There are many things to see and do in Moscow, which is a thriving, vibrant town. Moscow offers a bustling and fascinating city life, with everything from modern malls and restaurants to historic sights like the Red Square and the Kremlin.</p><p>Overall, Moscow is a great place to study since it has highly regarded universities, solid academic programs, cultural experiences, networking possibilities, a wide international community, and an exciting city life.</p><p></p><p>These are Moscow, Russia&apos;s top 10 universities:</p><p>1. The oldest and biggest institution in Russia, Lomonosov Moscow State University (MSU), places a high emphasis on fundamental science and research.</p><p>2. A institution with a focus on research, the Higher School of Economics (HSE) is renowned for its courses in economics, social sciences, and humanities.</p><p>3. A top university in Russia for physics, math, and computer science is the Moscow Institute of Physics and Technology (MIPT).</p><p>4. One of the oldest and biggest technical universities in Russia is Bauman Moscow State Technical University (BMSTU), a prominent engineering school.</p><p>5. A notable university in Russia for political science, diplomacy, and international affairs is the Moscow State Institute of International Relations (MGIMO).</p><p>6. The Moscow State Institute of Steel and Alloys (MISIS) is a college with a focus on engineering, materials science, and metallurgy.</p><p>7. A top university in Russia for civil engineering, architecture, and urban planning is the Moscow State University of Civil Engineering (MGSU).</p><p>8. The leading medical school in Russia, Moscow State University of Medicine and Dentistry (MSUMD), educates physicians, dentists, pharmacists, and other medical specialists.</p><p>9. Moscow State Pedagogical University (MGPU) is a college with a focus on social sciences, psychology, and education.</p><p>10. A top university in Russia for economics, finance, and business is the Plekhanov Russian University of Economics (PRUE).</p><p><br></p><figure class="kg-card kg-image-card kg-card-hascaption"><img src="https://images.unsplash.com/photo-1571850566965-dc36cae1dd44?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=MnwxMTc3M3wwfDF8c2VhcmNofDIwfHxTdC4lMjBQZXRlcnNidXJnfGVufDB8fHx8MTY3NjY5MDc1OQ&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=2000" class="kg-image" alt="cities of russia as foreigner (Onine research)" loading="eager" width="3024" height="4032" srcset="https://images.unsplash.com/photo-1571850566965-dc36cae1dd44?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=MnwxMTc3M3wwfDF8c2VhcmNofDIwfHxTdC4lMjBQZXRlcnNidXJnfGVufDB8fHx8MTY3NjY5MDc1OQ&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=600 600w, https://images.unsplash.com/photo-1571850566965-dc36cae1dd44?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=MnwxMTc3M3wwfDF8c2VhcmNofDIwfHxTdC4lMjBQZXRlcnNidXJnfGVufDB8fHx8MTY3NjY5MDc1OQ&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1000 1000w, https://images.unsplash.com/photo-1571850566965-dc36cae1dd44?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=MnwxMTc3M3wwfDF8c2VhcmNofDIwfHxTdC4lMjBQZXRlcnNidXJnfGVufDB8fHx8MTY3NjY5MDc1OQ&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1600 1600w, https://images.unsplash.com/photo-1571850566965-dc36cae1dd44?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=MnwxMTc3M3wwfDF8c2VhcmNofDIwfHxTdC4lMjBQZXRlcnNidXJnfGVufDB8fHx8MTY3NjY5MDc1OQ&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=2400 2400w" sizes="(min-width: 720px) 720px"><figcaption>Photo by <a href="https://unsplash.com/@malyushev?utm_source=ghost&amp;utm_medium=referral&amp;utm_campaign=api-credit">Victor Malyushev</a> / <a href="https://unsplash.com/?utm_source=ghost&amp;utm_medium=referral&amp;utm_campaign=api-credit">Unsplash</a></figcaption></figure><p></p><h2 id="2-st-petersburg-1">2. St. Petersburg:</h2><p></p><p>According to economic and social factors including GDP, infrastructure, education, and quality of life, the following cities rank second in Russia:</p><p>Russia&apos;s &quot;cultural capital,&quot; St. Petersburg, is a gorgeous city with a fascinating past and a thriving arts and culture scene. It has a rich tourism economy and is home to many museums, theaters, and music venues. With a heavy emphasis on banking, technology, and tourism, St. Petersburg is a significant economic hub as well. It is the second-largest city in Russia and a significant technology hub, with a burgeoning startup environment and an emphasis on creating cutting-edge innovations in industries like biotechnology and artificial intelligence.</p><p></p><p>St. Petersburg: As of 2021, the city had a population of about 5.5 million, with 2.9 million women and 2.6 million men, according to the Federal State Statistical Service. This equals approximately 91.3 men for every 100 women or the gender ratio.<br></p><p>St. Petersburg, Russia, is an excellent study destination city:</p><p><strong>1. Top-ranked Universities:</strong> Some of Russia&apos;s best universities, notably St. Petersburg State University, which consistently ranks among the top institutions in the nation, are located in St. Petersburg. The Higher School of Economics, ITMO University, and Peter the Great St. Petersburg Polytechnic University are a few other prestigious universities in St. Petersburg.</p><p><strong>2. Excellent Academic Programs:</strong> St. Petersburg&apos;s universities provide excellent academic programs in a range of subject areas, including science, engineering, social sciences, humanities, and the arts. Modern facilities and laboratories help their research and teaching efforts.</p><p><strong>3. Cultural Experience:</strong> With its wealth of museums, theaters, and art galleries, St. Petersburg is a cultural mecca. While studying in the city, students can get a firsthand look at Russian history and culture.</p><p><strong>4. Networking Possibilities:</strong> Since St. Petersburg is home to many of the leading Russian businesses and organizations, studying there give students the chance to network with professionals and subject-matter experts.</p><p><strong>5. International Community: </strong>St. Petersburg has a sizable international community and is a diversified city. Worldwide students can interact with other foreign students and experience a multiethnic setting.</p><p><strong>6. City Life:</strong> St. Petersburg has amazing architecture and picturesque rivers, making it a lovely and picturesque city. St. Petersburg offers a distinctive and exciting city life, with everything from modern retail malls and restaurants to historic attractions like the Hermitage Museum and the Winter Palace.</p><p>St. Petersburg, Russia, is a great place to study because it has highly regarded universities, solid academic programs, cultural experiences, networking opportunities, a broad international community, and a charming urban lifestyle.</p><p>Due to its coastal location, St. Petersburg has a more temperate climate than Moscow while having a humid continental climate. Depending on the season, St. Petersburg&apos;s typical temperature changes greatly. Below are St. Petersburg&apos;s monthly average temperatures:<br></p><p>Jan to Mar: -6&#xB0;C to 0&#xB0;C</p><p>Apr to June: 6&#xB0; to 17&#xB0;C</p><p>July to Aug: 19&#xB0; to 18&#xB0;C</p><p>Sep to Oct : 13&#xB0; to 7&#xB0;C</p><p>Nov to Dec: 2&#xB0;C to -3&#xB0;C</p><p><em>One of the top university cities in Russia, St. Petersburg is home to some of the most prominent and well-regarded educational institutions in the nation. The top 10 colleges in St. Petersburg are listed below:</em></p><p><em>1. Saint Petersburg State University (SPbSU) is one of the best institutions in Russia and the oldest and largest university in the city.</em></p><p><em>2. ITMO University, is a top institution for studying mechanics, optics, and information technology.</em></p><p><em>3. St. Petersburg State Polytechnic University, is a technical institution with many engineering and technology-related disciplines.</em></p><p><em>4. the Herzen State Pedagogical University of Russia, a renowned institution for teacher preparation.</em></p><p><em>5. Saint Petersburg State University of Economics, a renowned institution for management and economics.</em></p><p><em>6. St. Petersburg State Academy of Art and Industries, a renowned institution for education in architecture, design, and the arts</em></p><p><em>7. Saint Petersburg Mining University, a premier institution of higher learning for mining, geology, and petroleum engineering.</em></p><p><em>8. St. Petersburg State Conservatory, a renowned institution for the performing arts and music.</em></p><p><em>9. Russian State Pedagogical University (Herzen University), is an institution with a strong reputation in the social sciences, humanities, and education.</em></p><p><em>10. St. Petersburg State University of Culture and Arts, a prestigious institution in the cultural and artistic sectors.</em></p><p><em>These universities draw students from all around Russia and the world with their broad selection of undergraduate and graduate programs and degrees.</em></p><p><br></p><p><br></p><figure class="kg-card kg-image-card kg-card-hascaption"><img src="https://images.unsplash.com/photo-1647148705255-b0d5a5f407a4?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=MnwxMTc3M3wwfDF8c2VhcmNofDQ3fHxLYXphbnxlbnwwfHx8fDE2NzY2OTA5Njk&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=2000" class="kg-image" alt="cities of russia as foreigner (Onine research)" loading="eager" width="4160" height="5128" srcset="https://images.unsplash.com/photo-1647148705255-b0d5a5f407a4?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=MnwxMTc3M3wwfDF8c2VhcmNofDQ3fHxLYXphbnxlbnwwfHx8fDE2NzY2OTA5Njk&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=600 600w, https://images.unsplash.com/photo-1647148705255-b0d5a5f407a4?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=MnwxMTc3M3wwfDF8c2VhcmNofDQ3fHxLYXphbnxlbnwwfHx8fDE2NzY2OTA5Njk&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1000 1000w, https://images.unsplash.com/photo-1647148705255-b0d5a5f407a4?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=MnwxMTc3M3wwfDF8c2VhcmNofDQ3fHxLYXphbnxlbnwwfHx8fDE2NzY2OTA5Njk&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1600 1600w, https://images.unsplash.com/photo-1647148705255-b0d5a5f407a4?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=MnwxMTc3M3wwfDF8c2VhcmNofDQ3fHxLYXphbnxlbnwwfHx8fDE2NzY2OTA5Njk&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=2400 2400w" sizes="(min-width: 720px) 720px"><figcaption>Photo by <a href="https://unsplash.com/@nurik1?utm_source=ghost&amp;utm_medium=referral&amp;utm_campaign=api-credit">Aynur Bulatov</a> / <a href="https://unsplash.com/?utm_source=ghost&amp;utm_medium=referral&amp;utm_campaign=api-credit">Unsplash</a></figcaption></figure><h2 id="3-kazan-1"><strong>3. Kazan:</strong></h2><p><br></p><p>According to economic and social measures like GDP, infrastructure, education, and quality of life, the following Russian cities rank sixth in terms of development</p><p>Kazan has a 53% Muslim population.</p><p>The continental climate in Kazan is humid, with hot summers and chilly winters. Depending on the season, Kazan&apos;s typical temperature changes greatly. The typical temperatures in Kazan for each month are listed below:</p><p><br></p><p>-11 to -2 degrees Celsius from January through March.</p><p>8&#xB0;C to 20&#xB0;C from April to June</p><p>22&#xB0;C to 14&#xB0;C from July to September</p><p>Oct. to Dec.: -7 to -9 &#xB0;C</p><p><br></p><p>The technological sector is booming in Kazan, the capital of the Republic of Tatarstan, with a strong focus on software development, engineering, and telecommunications. Kazan is a significant economic and cultural hub with a booming tourism sector. It has a strong emphasis on innovation and technology, a well-developed infrastructure, and a thriving arts and culture scene.</p><p>Kazan: According to the Kazan City Statistical Service, there were roughly 1.3 million residents in Kazan as of 2021, with 695,000 women and 605,000 men. This amounts to roughly 116 men for every 100 women or the gender ratio.</p><p>The Kazan Federal University and the Kazan National Research Technological University are located in Kazan, the Republic of Tatarstan&apos;s capital. With a booming startup environment, multiple cutting-edge research institutes, and a strong emphasis on IT and computer science, the city is well renowned for these fields.</p><p>In Russia, Kazan is a well-liked study location, especially for foreign students. Many renowned universities are located in the city, including Kazan Federal University, one of the oldest and most esteemed institutions of higher learning in Russia. Kazan State University of Architecture and Engineering, Kazan State Medical University, and Kazan National Research Technological University are some of the other universities in Kazan.</p><p>Particularly Kazan Federal University is renowned for its robust engineering, physics, chemistry, and biology disciplines. Additionally, it has received praise for its work in the fields of computational mathematics, nanotechnology, and healthcare. With students from more than 80 different nations, the university boasts a sizable international student body.</p><p>In addition to its rich history and culture, Kazan is well recognized for its blend of Orthodox Christian and Muslim influences. The Kazan Kremlin, a UNESCO World Heritage site, is one of the city&apos;s many historic sites and museums. It is also renowned for its diverse local delicacies and traditional Tatar cuisine, as well as for its booming food and beverage scene.</p><p>With a good standard of living and a relatively low cost of living, Kazan is regarded as one of the most livable cities in Russia. The city is renowned for its parks and green areas and has a well-developed public transportation infrastructure, including a metro system.</p><p>For students interested in science, engineering, and medicine as well as those seeking a lively cultural experience in a living city, Kazan is a fantastic study-abroad location in Russia.</p><p>A MUSLIM&apos;S PERSPECTIVE Kazan is the third capital of Russia because of its significance to both culture and commerce. It features several historic mosques, including the Qol&#x15F;&#xE4;rif Mosque, one of the biggest mosques in Russia, and is home to a sizable Tatar Muslim population.</p><p></p><p><br></p><p></p><figure class="kg-card kg-image-card kg-card-hascaption"><img src="https://images.unsplash.com/photo-1636622406136-fe729cbc0f8e?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=MnwxMTc3M3wwfDF8c2VhcmNofDF8fE5pemhueSUyME5vdmdvcm9kfGVufDB8fHx8MTY3NjY5MTExMQ&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=2000" class="kg-image" alt="cities of russia as foreigner (Onine research)" loading="eager" width="3070" height="4635" srcset="https://images.unsplash.com/photo-1636622406136-fe729cbc0f8e?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=MnwxMTc3M3wwfDF8c2VhcmNofDF8fE5pemhueSUyME5vdmdvcm9kfGVufDB8fHx8MTY3NjY5MTExMQ&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=600 600w, https://images.unsplash.com/photo-1636622406136-fe729cbc0f8e?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=MnwxMTc3M3wwfDF8c2VhcmNofDF8fE5pemhueSUyME5vdmdvcm9kfGVufDB8fHx8MTY3NjY5MTExMQ&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1000 1000w, https://images.unsplash.com/photo-1636622406136-fe729cbc0f8e?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=MnwxMTc3M3wwfDF8c2VhcmNofDF8fE5pemhueSUyME5vdmdvcm9kfGVufDB8fHx8MTY3NjY5MTExMQ&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1600 1600w, https://images.unsplash.com/photo-1636622406136-fe729cbc0f8e?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=MnwxMTc3M3wwfDF8c2VhcmNofDF8fE5pemhueSUyME5vdmdvcm9kfGVufDB8fHx8MTY3NjY5MTExMQ&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=2400 2400w" sizes="(min-width: 720px) 720px"><figcaption>Photo by <a href="https://unsplash.com/@v2306?utm_source=ghost&amp;utm_medium=referral&amp;utm_campaign=api-credit">Valery Rabchenyuk</a> / <a href="https://unsplash.com/?utm_source=ghost&amp;utm_medium=referral&amp;utm_campaign=api-credit">Unsplash</a></figcaption></figure><h2 id="4-nizhny-novgorod-1">4. Nizhny Novgorod: </h2><p></p><p>Located on the Volga River, this city is home to a sizeable Muslim Tatar population. The Nizhny Novgorod Mosque, the biggest mosque in the city, is located there.</p><p><br></p><p>Depending on the season, Nizhny Novgorod&apos;s typical temperature changes. The average temperature ranges for each month are as follows:</p><p><br></p><p>January to Mar: -11&#xB0;C to 2&#xB0;C</p><p>April to June: 4&#xB0;C to 23&#xB0;C</p><p>July to Sep: 21&#xB0;C to 19&#xB0;C</p><p>Oct-Dec Nov: 14&#xB0;C to -7&#xB0;C</p><p><br></p><p>Nizhny Novgorod: As of 2021, there were around 1.3 million residents living in Nizhny Novgorod, with 684,000 women and 628,000 men, according to the Nizhny Novgorod City Statistical Service. This amounts to roughly 92 men for every 100 women or the gender ratio.</p><p><br></p><p>All things considered, Nizhny Novgorod is a fantastic study destination location in Russia, offering top colleges, robust academic programs, a reasonable cost of living, cultural activities, and a lovely city to explore.</p><p><br></p><p>Below are ten of Nizhny Novgorod&apos;s most well-known universities out of the numerous there are:</p><p><em>1. The Lobachevsky State University of Nizhny Novgorod (UNN), established in 1916, is a public research institution with more than 30,000 students. One of the top 500 universities in the world, according to rankings.</em></p><p><em>2. Nizhny Novgorod State Technical University (NNTU) was established in 1917 and is a sizable technical university with approximately 25,000 students. It is renowned for having robust engineering and technology programs.</em></p><p><em>3. the Nizhny Novgorod State University of Architecture and Civil Engineering (NNGASU) was established in 1930 and is a university with a focus on both disciplines.</em></p><p><em>4. Nizhny Novgorod State University of Engineering and Economics (NGIEU) was established in 1918 and is a technical institution with an emphasis on economics.</em></p><p><em>5. Volga State University of Technology (VSTU), a technical institution with a concentration on applied science and technology was established in 1930.</em></p><p><em>6. Nizhny Novgorod State Linguistic University (NGLU), established in 1946, is a university with a focus on linguistics and foreign languages.</em></p><p><em>7. Nizhny Novgorod State Medical Academy (NNSMA), established in 1920, is a university specializing in medical education and research.</em></p><p><em>8. Nizhny Novgorod State Agricultural Academy (NNSAA), established in 1919, is a university with a focus on agriculture and associated subjects.</em></p><p><em>9. Privolzhsky Research Medical University (PRMU), a medical institution with an emphasis on research and innovation was established in 1920.</em></p><p><em>10. Russian State Vocational Pedagogical University (RSVPU), established in 1930, is a college with a focus on teacher education and vocational training</em></p><p><br></p><p><br></p><figure class="kg-card kg-image-card kg-card-hascaption"><img src="https://images.unsplash.com/photo-1625511838614-d8911ef292eb?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=MnwxMTc3M3wwfDF8c2VhcmNofDF8fE5vdm9zaWJpcnNrfGVufDB8fHx8MTY3NjY5MTMyNw&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=2000" class="kg-image" alt="cities of russia as foreigner (Onine research)" loading="eager" width="5184" height="3456" srcset="https://images.unsplash.com/photo-1625511838614-d8911ef292eb?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=MnwxMTc3M3wwfDF8c2VhcmNofDF8fE5vdm9zaWJpcnNrfGVufDB8fHx8MTY3NjY5MTMyNw&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=600 600w, https://images.unsplash.com/photo-1625511838614-d8911ef292eb?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=MnwxMTc3M3wwfDF8c2VhcmNofDF8fE5vdm9zaWJpcnNrfGVufDB8fHx8MTY3NjY5MTMyNw&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1000 1000w, https://images.unsplash.com/photo-1625511838614-d8911ef292eb?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=MnwxMTc3M3wwfDF8c2VhcmNofDF8fE5vdm9zaWJpcnNrfGVufDB8fHx8MTY3NjY5MTMyNw&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1600 1600w, https://images.unsplash.com/photo-1625511838614-d8911ef292eb?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=MnwxMTc3M3wwfDF8c2VhcmNofDF8fE5vdm9zaWJpcnNrfGVufDB8fHx8MTY3NjY5MTMyNw&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=2400 2400w" sizes="(min-width: 720px) 720px"><figcaption>Photo by <a href="https://unsplash.com/@pavstyuk?utm_source=ghost&amp;utm_medium=referral&amp;utm_campaign=api-credit">Mikhail Pavstyuk</a> / <a href="https://unsplash.com/?utm_source=ghost&amp;utm_medium=referral&amp;utm_campaign=api-credit">Unsplash</a></figcaption></figure><p><strong>5. Novosibirsk:</strong></p><p>Novosibirsk is the third-largest city in Russia and a significant industrial and technological hub. It is situated in Siberia. It has a strong tech industry and a number of top-notch research institutes and universities. In addition to its excellent standard of living, Novosibirsk is renowned for its affordable cost of living.</p><p><br></p><p>Russia&apos;s Siberian city of Novosibirsk has a continental climate with lengthy, chilly winters and brief, pleasant summers. Depending on the season, Novosibirsk&apos;s typical temperature changes considerably. Below are Novosibirsk&apos;s typical monthly temperatures:</p><p><br></p><p><br></p><p>January to Mar : -16&#xB0;C to -6&#xB0;C</p><p>April to July: 5&#xB0;C to 22&#xB0;C</p><p>Aug to Oct: 19&#xB0;C to 4&#xB0;C</p><p>Nov to Dec: -8&#xB0;C to -14&#xB0;C</p><p><br></p><p><br></p><p><br></p><p>Novosibirsk Novosibirsk, a city in Siberia, is home to a number of cutting-edge startups and high-tech research facilities, particularly in the IT and software development industries.</p><p><br></p><p>Novosibirsk: According to the Novosibirsk City Statistical Service, there were around 1.6 million residents in Novosibirsk as of 2021, with 857,000 women and 756,000 men. This amounts to roughly 88 men for every 100 women or the gender ratio.</p><p><br></p><p>Novosibirsk is a significant scientific and technical hub in Siberia and is home to a number of renowned research institutions, including the Novosibirsk State University and the Siberian Branch of the Russian Academy of Sciences. The area&apos;s knowledge in physics, mathematics, and computer science is well-known.</p><p><br></p><figure class="kg-card kg-image-card kg-card-hascaption"><img src="https://images.unsplash.com/photo-1561058436-f596d1e6626a?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=MnwxMTc3M3wwfDF8c2VhcmNofDN8fEdyb3pueXxlbnwwfHx8fDE2NzY2OTE1NzM&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=2000" class="kg-image" alt="cities of russia as foreigner (Onine research)" loading="eager" width="4989" height="3326" srcset="https://images.unsplash.com/photo-1561058436-f596d1e6626a?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=MnwxMTc3M3wwfDF8c2VhcmNofDN8fEdyb3pueXxlbnwwfHx8fDE2NzY2OTE1NzM&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=600 600w, https://images.unsplash.com/photo-1561058436-f596d1e6626a?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=MnwxMTc3M3wwfDF8c2VhcmNofDN8fEdyb3pueXxlbnwwfHx8fDE2NzY2OTE1NzM&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1000 1000w, https://images.unsplash.com/photo-1561058436-f596d1e6626a?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=MnwxMTc3M3wwfDF8c2VhcmNofDN8fEdyb3pueXxlbnwwfHx8fDE2NzY2OTE1NzM&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1600 1600w, https://images.unsplash.com/photo-1561058436-f596d1e6626a?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=MnwxMTc3M3wwfDF8c2VhcmNofDN8fEdyb3pueXxlbnwwfHx8fDE2NzY2OTE1NzM&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=2400 2400w" sizes="(min-width: 720px) 720px"><figcaption>Photo by <a href="https://unsplash.com/de/@ignatkushanrev?utm_source=ghost&amp;utm_medium=referral&amp;utm_campaign=api-credit">Ignat Kushanrev</a> / <a href="https://unsplash.com/?utm_source=ghost&amp;utm_medium=referral&amp;utm_campaign=api-credit">Unsplash</a></figcaption></figure><p><strong>6. Grozny:</strong></p><p>6. Grozny: Grozny, the capital of the Chechen (predominantly Muslim) Republic, is home to multiple mosques, including the Akhmad Kadyrov Mosque, one of the largest in Europe. Grozny has a 95% Muslim population.</p><p><br></p><p>Grozny: According to the Chechen Republic Statistical Agency, about 316,000 people were living in Grozny as of 2021, including 166,000 women and 150,000 men. This equals an approximate gender ratio of 86.4 men for every 100 women.</p><p><br></p><p><br></p><figure class="kg-card kg-image-card kg-card-hascaption"><img src="https://images.unsplash.com/photo-1599827206913-093fd997d8b6?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=MnwxMTc3M3wwfDF8c2VhcmNofDEzfHxTb2NoaXxlbnwwfHx8fDE2NzY2OTE3MTU&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=2000" class="kg-image" alt="cities of russia as foreigner (Onine research)" loading="eager" width="5390" height="3215" srcset="https://images.unsplash.com/photo-1599827206913-093fd997d8b6?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=MnwxMTc3M3wwfDF8c2VhcmNofDEzfHxTb2NoaXxlbnwwfHx8fDE2NzY2OTE3MTU&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=600 600w, https://images.unsplash.com/photo-1599827206913-093fd997d8b6?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=MnwxMTc3M3wwfDF8c2VhcmNofDEzfHxTb2NoaXxlbnwwfHx8fDE2NzY2OTE3MTU&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1000 1000w, https://images.unsplash.com/photo-1599827206913-093fd997d8b6?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=MnwxMTc3M3wwfDF8c2VhcmNofDEzfHxTb2NoaXxlbnwwfHx8fDE2NzY2OTE3MTU&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1600 1600w, https://images.unsplash.com/photo-1599827206913-093fd997d8b6?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=MnwxMTc3M3wwfDF8c2VhcmNofDEzfHxTb2NoaXxlbnwwfHx8fDE2NzY2OTE3MTU&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=2400 2400w" sizes="(min-width: 720px) 720px"><figcaption>Photo by <a href="https://unsplash.com/@igorstarkoff?utm_source=ghost&amp;utm_medium=referral&amp;utm_campaign=api-credit">Igor Starkov</a> / <a href="https://unsplash.com/?utm_source=ghost&amp;utm_medium=referral&amp;utm_campaign=api-credit">Unsplash</a></figcaption></figure><p>Want to learn about the hottest city?</p><p>Sochi, a city on the Black Sea coast in the southern part of the country, is often regarded as the warmest city in Russia. In comparison to the rest of Russia, Sochi has a subtropical climate that is much warmer and more humid. The average temperature of Sochi varies from about 12&#xB0;C (53&#xB0;F) in the winter to about 25&#xB0;C (77&#xB0;F) in the summer. Some days in the hottest months of July and August might exceed 30&#xB0;C (86&#xB0;F). Rostov-on-Don and Krasnodar, two more reasonably warm cities in Russia, are situated in the southern region of the nation.</p><p><br></p><p><br></p><p>According to the QS Global University Rankings published in 2021, these are the top 10 universities in Russia:</p><p>1)Lomonosov Moscow State University</p><p>2)Saint Petersburg State University</p><p>3)Novosibirsk State University</p><p>4)Moscow Institute of Physics and Technology</p><p>5)Tomsk State University</p><p>6)Bauman Moscow State Technical University</p><p>7)National University of Science and Technology &quot;MISIS&quot;</p><p>8)Higher School of Economics (HSE)</p><p>9)Kazan Federal University</p><p>10)ITMO University</p><p>It&apos;s worth noting that these rankings can vary depending on the criteria used and the methodology of the ranking organization.</p><p><br></p><p><br></p><p><br></p><p>These are Russia&apos;s top 10 institutions of higher learning for computer science:</p><p>1)Moscow Institute of Physics and Technology (MIPT)</p><p>2)Saint Petersburg State University (SPbU)</p><p>3)Moscow State University (MSU)</p><p>4)Higher School of Economics (HSE)</p><p>5)Bauman Moscow State Technical University (BMSTU)</p><p>6)ITMO University (ITMO)</p><p>7)Novosibirsk State University (NSU)</p><p>8)Tomsk State University (TSU)</p><p>9)Kazan Federal University (KFU)</p><p>10)Ural Federal University (UrFU)</p><p></p><p>It should be noted that this is not a comprehensive list and that there are other additional Russian colleges that provide top-notch computer science degrees. Also, rankings can change based on the approach and source used.</p>]]></content:encoded></item><item><title><![CDATA[Fedora vs Arch vs Ubuntu]]></title><description><![CDATA[<p>Each of the well-known mother Linux distributions, including Fedora, Ubuntu, and Arch, has unique benefits and skills. Below is a brief comparison of the three:<br>Fedora:</p><ol><li>places a strong emphasis on being a cutting-edge distribution; as a result, it frequently offers the most recent software packages available.</li><li>utilizing the RPM</li></ol>]]></description><link>http://localhost:2368/fedora-vs-arch-vs-ubuntu-2/</link><guid isPermaLink="false">6414acefbd43aa05735666a8</guid><category><![CDATA[linux]]></category><category><![CDATA[tech]]></category><dc:creator><![CDATA[kazi ar rafi]]></dc:creator><pubDate>Wed, 15 Feb 2023 18:20:28 GMT</pubDate><media:content url="http://localhost:2368/content/images/2023/02/3.png" medium="image"/><content:encoded><![CDATA[<img src="http://localhost:2368/content/images/2023/02/3.png" alt="Fedora vs Arch vs Ubuntu"><p>Each of the well-known mother Linux distributions, including Fedora, Ubuntu, and Arch, has unique benefits and skills. Below is a brief comparison of the three:<br>Fedora:</p><ol><li>places a strong emphasis on being a cutting-edge distribution; as a result, it frequently offers the most recent software packages available.</li><li>utilizing the RPM package manager.</li><li>The release cycle is relatively short, with new versions arriving roughly every six months.<br>is kept up to date with security patches by Red Hat, who also provide support.</li></ol><p>Arch:</p><ol><li>focuses on minimalism, customization, and ease of use, allowing individuals to create their own unique systems. </li><li>Using the package management system Pacman. It is a rolling-release distribution, which means that changes are regularly introduced to the system and that there are no fixed releases.</li><li>Unlike Fedora and Ubuntu, requires more technical know-how to install and set up. </li><li>Comes with the most recent software, making maintenance at times can be difficult<br></li></ol><p>Ubuntu:</p><ol><li>Due to its emphasis on usability and simplicity. Maybe it can be a wonderful choice.</li><li>Beginners who are starting to learn Linux.<br>Using the package manager for Debian.</li><li>Has a longer release cycle, releasing a new version every two years for long-term support (LTS) versions.</li></ol><p></p><p>Possesses a sizable number of people and a plethora of resources.<br>In conclusion, Fedora is the finest option for users who want to use the most recent software packages, Ubuntu is the ideal choice for those who value usability and comfort of use, and Arch is superb for users who prefer the newest software with challenging maintenance requirements. Which distribution is best for you will ultimately depend on your own needs and tastes. So, good luck with your Linux journey.</p><p>BTW, I use fedora (nobara linux)</p><p>My dot files are located on this location <a href="Click Here">https://gitlab.com/kar18/fedora-dotfile</a> (<a href="https://gitlab.com/kar18/fedora-dotfile?ref=localhost">Click Here</a>) <br>Happy FOSS!</p>]]></content:encoded></item><item><title><![CDATA[My free ghost cms hosting journey.]]></title><description><![CDATA[<p>&apos;m excited to discuss Ghost CMS in this blog article.</p><p>my free ghost cms hosting journey.A simple and effective blogging and website-building tool is Ghost CMS. Because of its focus on simplicity and minimalism, it&apos;s the ideal platform for bloggers, writers, and small businesses who want</p>]]></description><link>http://localhost:2368/my-ghost-cms-journey-2/</link><guid isPermaLink="false">6414acefbd43aa05735666a7</guid><category><![CDATA[web]]></category><category><![CDATA[tech]]></category><dc:creator><![CDATA[kazi ar rafi]]></dc:creator><pubDate>Tue, 14 Feb 2023 17:22:37 GMT</pubDate><media:content url="http://localhost:2368/content/images/2023/02/ghost-3.png" medium="image"/><content:encoded><![CDATA[<img src="http://localhost:2368/content/images/2023/02/ghost-3.png" alt="My free ghost cms hosting journey."><p>&apos;m excited to discuss Ghost CMS in this blog article.</p><p>my free ghost cms hosting journey.A simple and effective blogging and website-building tool is Ghost CMS. Because of its focus on simplicity and minimalism, it&apos;s the ideal platform for bloggers, writers, and small businesses who want to create appealing websites quickly and easily without the complications of more traditional content management systems.</p><p>Whether you choose to use Ghost(Pro) or self-host Ghost CMS, getting started is easy. Additionally, the multitude of customization options available make it simple to build a website that perfectly reflects your business and style.</p><p>So why not give Ghost CMS a shot? It can be the best platform for my future blog or website project.</p><p>It is entirely free for me because I hosted it on gitlab .And I am running it from a gitlab page. I&apos;ll just purchase a domain in future. to learn more about SEO (Search Engine Optimization).</p><p>In fact, Ghost CMS is open source, so it will be a terrific platform for me to represent myself. that&apos;s why it&apos;s great.<br>You could now wonder why gitlab doesn&apos;t support dynamic websites. Yes, it does not support. I just created a static version of the website by using the wget commands on my linux.</p><p>wget -r -nH -P docs -E -T 2 -np -k. <a href="http://localhost:2368/">http://localhost:2368</a> &#xA0;this make a offline version.</p><p>I finally understand why index.html is not functioning properly. due to the incorrect location given the theme. but don&apos;t worry, Github will &#xA0;fix the issue. after pushing it to github.<br>Go to the github navigate website &#xA0; &quot;settings -&gt; Pages -&gt; Branch main /docs &quot;<br>Additionally, there is the link.<br>Check out my example at <a href="https://github.com/kazi-ar-rafi/kaziarrafi.github.io?ref=localhost">https://github.com/kazi-ar-rafi/kaziarrafi.github.io</a>.</p><p></p><p>Talking about backup and restore process i made a youtube video about that </p><figure class="kg-card kg-embed-card"><iframe width="200" height="113" src="https://www.youtube.com/embed/yLVA0ZQE6yI?feature=oembed" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen title="restoring my ghost cms"></iframe></figure><p></p><p>another update video </p><figure class="kg-card kg-embed-card"><iframe width="200" height="113" src="https://www.youtube.com/embed/udlYfqf9_C8?feature=oembed" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen title="Free Ghost website hosting on gitlab| Just like WordPress but with static converter &#x1F970;"></iframe></figure><p>now setup ghost with gitlab. good luck.</p><figure class="kg-card kg-bookmark-card"><a class="kg-bookmark-container" href="https://gitlab.com/kar18/ghost_static_web_page_hoster_with_gitlab?ref=localhost"><div class="kg-bookmark-content"><div class="kg-bookmark-title">kazi ar rafi / ghost_static &#xB7; GitLab</div><div class="kg-bookmark-description">GitLab.com</div><div class="kg-bookmark-metadata"><img class="kg-bookmark-icon" src="https://gitlab.com/assets/favicon-72a2cad5025aa931d6ea56c3201d1f18e68a8cd39788c7c80d5b2b82aa5143ef.png" alt="My free ghost cms hosting journey."><span class="kg-bookmark-author">GitLab</span></div></div><div class="kg-bookmark-thumbnail"><img src="https://gitlab.com/assets/twitter_card-570ddb06edf56a2312253c5872489847a0f385112ddbcd71ccfa1570febab5d2.jpg" alt="My free ghost cms hosting journey."></div></a></figure>]]></content:encoded></item></channel></rss>